<style>
  .grey {
   background-color:#DCDCDC;
   color:#000000 !important;
 }
 #backgroundImage1 {
  background-size: cover;
  display: block;
  float: right;
  height:102%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}
#rightpremierTemplate{
  position: relative;
  margin: 20px;  
  z-index: 2;
  padding: 0 10px;
}
.submi-section{
 padding-bottom:60px;
}
.custom-settings {
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0;
 height: 100%;
 bottom: 0;
 width: 100%;
}
</style>
<ng-include src="'js/home/views/navigation.html'" ng-if="!customizeSettings"></ng-include>
<!-- Content Start  -->
<div class="container" ng-show="!customizeSettings">
  <div class="row">
    <div class="col-md-12">
      <div class="content-area" ng-class="{bgwhite: !customizeSettings}">
        <div class="row">
          <div class="col-md-12">
            <h1 class="bold text-center">Submission for Promotion</h1>
            <div class="internal-content">
            </br>
            <div class="row">
              <div class="row">
                <div class="col-md-12">
                  <p><span>Our mission is to simply bring the best music to the people. We also have a strong commitment to providing feedback and guidance for rising artists. We guarantee that your song will be listened to and critiqued by our dedicated staff if it passes our submission process. Although we cannot guarantee support for your submission on our promotional platforms such as SoundCloud, YouTube, and Facebook, we will make sure to get back to you with a response.</span></p>
                  <p><i><span>If we deem that your track fits the goals of our page and meets our high standards for quality, we may decide to repost or otherwise promote it (i.e. via Facebook, Soundcloud and/or Youtube) in which case we will contact you.</span></i><span style="font-weight: bold;"> All we ask is for a small donation. These donations will allow us to continue supporting up and coming artists via releases that don’t tie artists to corporate and unfavorable record deals. Premiere’s are still available for UNRELEASED quality tracks at no cost - so if you have demo’s that you would like us to consider for uploading please send these private demos to unreleased@peninsulamgmt.com.</span></p>
                  <p><span>If you are confident that your music has what it takes to be promoted to an audience of over 500,000 followers, as well as various record labels, talent agencies, and headliner DJs—consider presenting it to us.</span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form role="form" ng-submit="submit()">
                </br>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 search">
                    <scsearch kind='track' returnitem='choseTrack(item)'></scsearch>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="text" placeholder="Name"ng-model="submission.name" required/>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="email" placeholder="Email" ng-model="submission.email" required/>
                  </div>
                </div>
              </br>
              <div class="text-center">
                <button class="btn btn-default btn-lg btn-enter">Enter</button>
                <br/><br />
                <!-- <p ng-show="message.visible" class="text-center">{{message.val}}</p> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">
  <div class="col-md-12 text-center">
    <span ng-if="notFound">Track not found.<br>If a private track, please email it to: edward@peninsulamgmt.com</span>
    <div id="scPlayer" style="margin:10px 0; position:relative; z-index:1;"></div>
  </div>
</div>
</div>
<div class="custom-settings" style="background-color:transparent !important;"  ng-show="customizeSettings">
  <div id="backgroundImage1" style="background-size:cover;background-image:url( {{customizeSettings.background.images}}); filter: blur({{customizeSettings.background.blur}}px);-webkit-filter: blur({{customizeSettings.background.blur}}px);">
  </div>
  <div id="rightpremierTemplate" class="col-md-12">
    <p class="text-center" style="color:{{customizeSettings.heading.style.fontColor}};
    font-weight:{{customizeSettings.heading.style.fontWeight}};
    font-size:{{customizeSettings.heading.style.fontSize}}px">{{customizeSettings.heading.text}}
  </p>
  <div class="internal-content">
  </br>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center" style="color:{{customizeSettings.subHeading.style.fontColor}};font-size:{{customizeSettings.subHeading.style.fontSize}}px;font-weight:{{customizeSettings.subHeading.style.fontWeight}}" ng-bind-html="customizeSettings.subHeading.text">
      </p>
    </div>
  </div>
</br>
<div class="row">
  <div class="col-md-12 text-center">
    <img class="text-center" style="width:150px;height:150px;" ng-if="customizeSettings.logo.images" id="templatepremierLogo" src="{{customizeSettings.logo.images}}">
  </div>
</div>
</br>
<div class="row">
  <div class="col-md-12">
    <form role="form" ng-submit="submit()">
    </br>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 search">
        <div class="search-suggetion">
          <input class="form-control" type="text" placeholder="Track Search" 
          ng-model="searchString" required style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
          <ul class="results" ng-show="searching || searchError || searchSelection.length > 0">
            <li ng-show="searching && !searchError && searchSelection.length==0"><a href="#">One moment...</a></li>
            <li ng-repeat="item in searchSelection"><a href="javascript:void(0)" ng-click="selectedItem(item, 'track', 'custom')">
              <div class="pull-left"><img class="result-seach-img" ng-if="item.artwork_url" src="{{item.artwork_url}}"/></div> {{item.displayName}}</a></li>
              <li ng-show="!!searchError">{{searchError}}</li>
              <li ng-show="searchSelection.length > 0 && !searchError"><a href="#">Or enter a Soundcloud URL</a></li>
            </ul>
            <a href="javascript:void(0)" class="link-add-btn" ng-click="changedSearch('track')"><i class="glyphicon glyphicon-search"></i></a>
          </div>
        </div>
      </div>
            <!-- </br>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <select ng-options="item for item in genreArray" ng-model="submission.genre" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" ng-init="submission.genre = null" required>
                  <option value="" ng-disabled="!!submission.genre">--Select Genre--</option>
                </select>
              </div>
            </div> -->
          </br>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <input type="text" placeholder="Name" ng-model="submission.name" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
            </div>
          </div>
        </br>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="email" placeholder="Email" ng-model="submission.email" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
          </div>
        </div>
      </br>
      <div class="text-center">
        <button class="btn btn-default" style="color:{{customizeSettings.button.style.fontColor}}; font-size:{{customizeSettings.button.style.fontSize}}px; background-color:{{customizeSettings.button.style.bgColor}};">{{customizeSettings.button.text}}</button>
        <br/>
        <br/>
      </div>
      <div class="text-center">
        <div class="col-md-12 text-center">
          <div id="scPlayerCustom" style="width:97%; position:relative; z-index:1;"></div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
<ng-include src="'js/home/views/loader.html'"></ng-include>