<div style="text-align:center; margin:10px 0;">
  <h1 style="background-color:black; color:white; padding:20px">Submission for Promotion</h1>
  <div style="text-align:center; width:600px; font-weight: 500; font-size:1.4em; margin:20px auto;">
    <p><span>Our mission is to simply bring the best music to the people. We also have a strong commitment to providing feedback and guidance for rising artists. We guarantee that your song will be listened to and critiqued by our dedicated staff if it passes our submission process. Although we cannot guarantee support for your submission on our promotional platforms such as SoundCloud, YouTube, and Facebook, we will make sure to get back to you with a response.</span></p>
    <p><i><span>If we deem that your track fits the goals of our page and meets our high standards for quality, we may decide to repost or otherwise promote it (i.e. via Facebook, Soundcloud and/or Youtube) in which case we will contact you.</span></i><span style="font-weight: bold;"> All we ask is for a small donation. These donations will allow us to continue supporting up and coming artists via releases that don’t tie artists to corporate and unfavorable record deals. Premiere’s are still available for UNRELEASED quality tracks at no cost - so if you have demo’s that you would like us to consider for uploading please send these private demos to edward@peninsulamgmt.com.</span></p>
    <p><span>If you are confident that your music has what it takes to be promoted to an audience of over 150,000 followers, as well as various record labels, talent agencies, and headliner DJs—consider presenting it to us.</span></p>
  </div>
  <div style="color: white; width:850px; text-align:center; margin:10px auto; background-color: black; padding: 20px 10px; border-radius:5px;">
  <div style="display:inline-block; width: 250px; text-align:center; margin:0 10px;">
    <h4>Song URL</h4>
    <input class="form-control" style="color:black; width:100%;" type="text" ng-model="url" ng-change="urlChange()"/>
  </div>
  <div style="display:inline-block; width: 250px; text-align:center;  margin:0 10px;">
    <h4>Your Name</h4>
    <input class="form-control" style="color:black; width:100%;" type="text" ng-model="name"/>
  </div>
  <div style="display:inline-block; width:250px; text-align:center; margin:0 10px;">
    <h4>Your Email</h4>
    <input class="form-control" style="color:black; width:100%;" type="text" ng-model="email"/>
  </div>
  </div>
  <h4 ng-if="notFound">Track not found.<br>If a private track, please email it to: edward@peninsulamgmt.com</h4>
  <div id="scPlayer" style="margin:10px 0"></div>
  <button class="btn btn-default" style="background-color: #d3d3d3; font-size:1.4em; margin:5px 5px;" ng-click="submit()">Submit</button>
</div>

<div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.9); text-align:center; z-index:1" ng-show="processing">
  <h1 style="font-color:white; margin-top:400px; z-index:2">Processing...</h1>
</div>
