<div id="sidebar-wrapper">
  <div class="left-side">
    <div class="tropical"><span>{{user.name}}</span><img class="img-responsive img-circle" src="{{user.profilePicture ? user.profilePicture : 'https://i1.sndcdn.com/avatars-000223599301-0ns076-t500x500.jpg'}}" style="width:100px;">
    </div>
    <!--tropical end-->
		<div class="left-menus">
      <nav class="nav">
        <ul class="nav nav-navabar">
          <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="settings">SETTINGS</a></li>
          <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="submissions">REPOST SUBMISSION <div class="badge notification-bubble-submission-count" ng-show="submissionsCount > 0">{{submissionsCount}}</div></a></li>
          <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="premiersubmissions">PREMIER SUBMISSIONS</a></li>
           <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="accounts">ACCOUNTS</a></li>
          <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="customizesubmission">CUSTOM SUBMISSIONS</a></li>
          <li ui-sref-active-eq="left-menu-active" class="border-bottom"><a href="javascript:void(0)" ui-sref="customemailbuttons">CUSTOM EMAIL BUTTONS</a></li>
        </ul>
      </nav>
  </div>                            
</div>
</div>
<script>
$(document).ready(function(){
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  });
</script>