<ng-include src="'js/home/views/_navigations.html'"></ng-include>
<!-- Content Start  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-area bg-white">
            <div class="row">
           		 <div class="col-md-9">
           		 		<h1 class="bold">Who are we?</h1>
           		 		<div class="internal-content">
                    <p>Artists Unlimited is a group of young adults looking to connect computer tech with the music industry and empower artists with the tools they need to succeed on the internet. With years of experience in the music industry, we enable every artist, big and small, producing from a studio or bedroom to have their music speak for itself.</p>
                    <p>For anyone involved in music production, it does not take long to see that the PR and A&R team of an artist plays a pivotal role in the success of an act. To ensure an artist stays relevant in the public sphere can be one of the most difficult tasks they face, and having a team who focus on getting the artist heard on all online platforms makes sure social media profiles are buzzing with their engagement is critical to an artist’s success.</p>
                    <p>We create applications that make it easy for an artist to be the best they can be online.</p>
								  </div>
           		 </div>
<!--            		 <div class="col-md-6">
             		 <img class="img-responsive" src="/assets/images/who-we-are.png"/>
           		 </div> -->
            </div>
			</div>
		</div>	
	</div>
</div>				
<!-- Content End  -->
