
<!-- Navigation Start -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand logo" href="#" ui-sref="home"><img src="/assets/images/logo.png"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav text-uppercase ">
	       	<li class="active"><a href="#" ui-sref="about">About</a></li>
          <li><a href="#" ui-sref="services">Services</a></li>
          <li><a href="#" ui-sref="artistTools">Artist Tools</a></li>
          <li><a href="#" ui-sref="faqs">FAQs</a></li>
          <li><a href="#" ui-sref="apply">Apply</a></li>
          <li><a href="#" ui-sref="contact">Contact</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</div>
</nav>
<!-- Navigation End -->
<script>
  $(document).ready(function(){
    var windowHeight = $(window).height();
    var navHeight = $('.navbar').height();
    console.log(windowHeight, navHeight);
    $('.content-area').css('min-height', (windowHeight - navHeight) + 'px');
  });
</script>
<!-- Content Start  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-area bg-white">
            <div class="row">
           		 <div class="col-md-6">
           		 		<h1 class="bold">Who are we?</h1>
           		 		<div class="internal-content">
                    <p>Artists Unlimited is a group of young adults looking to connect computer tech with the music industry and empower artists with the tools they need to succeed on the internet. With years of experience in the music industry, we enable every artist, big and small, producing from a studio or bedroom to have their music speak for itself.</p>
                    <p>For anyone involved in music production, it does not take long to see that the PR and A&R team of an artist plays a pivotal role in the success of an act. To ensure an artist stays relevant in the public sphere can be one of the most difficult tasks they face, and having a team who focus on getting the artist heard on all online platforms makes sure social media profiles are buzzing with their engagement is critical to an artist’s success.</p>
                    <p>We create applications that make it easy for an artist to be the best they can be online.</p>
								  </div>
           		 </div>
           		 <div class="col-md-6">
             		 <img class="img-responsive" src="/assets/images/who-we-are.png"/>
           		 </div>
            </div>
			</div>
		</div>	
	</div>
</div>				
<!-- Content End  -->
