<!--HOME : Start-->
<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="intro-logo"><a href="#"> <img src="assets/images/logo-white.png" /></a> </div>
      </div>
      <div class="col-md-4 col-xs-6 text-left">
        <div class="intro-text">
          <h1>Artists<br />
		   Unlimited</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro-social"> </div>
      </div>
    </div>
  </div>
  <a class="arrow-down" href="#" ui-sref="about"></a>
</section>
<!--HOME : End--> 