<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>
<div class="container" ng-init="getDownloadList()">
  
  </br>
  <div>
    <h2 style="display:inline;text-align:center">Admin</h2>
    <div style="clear:both"></div>
  </div>
  </br>
  <ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
  </br>
  <a hred="#" ui-sref="downloadGate">Create New -></a>
  <h2>Download Gateways</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Artist Username</th>
        <th>Track Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in downloadGatewayList">
        <td>{{item.artistUsername}}</td>
        <td>{{item.trackTitle}}</td>
        <td><a href="#" ui-sref="downloadGateEdit({ gatewayID: item._id})">Edit</a></td>
      </tr>
    </tbody>
  </table>


  <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.9); text-align:center; z-index:1" ng-show="processing">
  <h1 style="font-color:white; margin-top:400px; z-index:2">Processing...</h1>
</div>