  <style>
  .grey {
   background-color:#DCDCDC;
   color:#000000 !important;
}
</style>
<ng-include src="'js/home/views/_adminHeaderNavigation.html'"></ng-include>
  <!-- Content Start  -->
<div id="wrapper">
<ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
  <div class="container-fluid height-100pr">
      <div class="row">
        <div class="col-md-12">
          <div class="page-content right-side">
            <!--page-contant Start-->
            <div class="two-tabs">
              <!-- Nav tabs :Start-->
              <div class="text-center" style="margin-top:30px;margin-bottom:30px;">SET UP YOUR ADMIN ACCOUNT</div>

              <ul class="info-ui-tab" role="tablist">
                <li class="active">
                  <a href="javascript:void(0)" role="tab" data-toggle="tab">1  Basic Info</a>
                </li>
                <li class="active" ng-show="{{$scope.user.email!='' && $scope.user.password!='' && $scope.user.name!=''}}">
                  <a href="javascript:void(0)"  role="tab" data-toggle="tab">2  Set up your first Channel</a>
                </li>
              </ul>
              <div class="clearfix"></div>

              <!-- Nav tabs :End-->
              <!-- Tab panes :: Start-->
              <div class="tab-content">
                <!-- MY SCHEDULE : Start-->
                <div role="tabpanel" class="tab-pane fade in active" id="step2">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active" style="width:20%">
                      <a href="/admin/step2" role="tab" data-toggle="tab">1  Set Submission URL</a>
                    </li>
                    <li class="active" style="width:20%">
                      <a href="javascript:void(0)" role="tab" data-toggle="tab">2  Set Price</a>
                    </li>
                    <li class="active" style="width:20%">
                      <a href="javascript:void(0)" role="tab" data-toggle="tab">3  Customize Submission Page</a>
                    </li>
                    <li class="active" style="width:20%">
                      <a href="javascript:void(0)" role="tab" data-toggle="tab">4  Premier Submission Page</a>
                    </li>
                    <li class="active" style="width:20%">
                      <a href="javascript:void(0)" role="tab" data-toggle="tab">5  Repost Preferences</a>
                    </li>
                    <li class="active" style="width:20%">
                      <a href="javascript:void(0)" role="tab" data-toggle="tab">6  Customize E-mails</a>
                    </li>
                  </ul>

                  <div class="tab-content">
                  <!-- MY SCHEDULE : Start-->
                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                      <div  class="submi-section">
                        <div class="tab-content-main"> 
                          <div class="col-md-6">
                            <center >
                            <br />            
                            <p>ACCEPTANCE  EMAIL</p>
                            <div class="form-group"  style="">
                              <center >
                              <input class="form-control" type="text" ng-model="AccountsStepData.customizeemails.acceptance.subject" placeholder="Subject" style="margin-left:0px">
                              <br />
                              <textarea ng-model="AccountsStepData.customizeemails.acceptance.body" class="form-control acceptance" style="width:100%;margin-left:0px;height:200px;" cols="5" rows="10">
                                
                              </textarea>
                              <br />
                              </center>
                            </div>                              
                          </div>  
                          <div class="col-md-6">
                            <center >
                            <br />            
                            <p>DECLINE  EMAIL</p>
                            <div class="form-group"  style="">
                              <center >
                                <input class="form-control" type="text" ng-model="AccountsStepData.customizeemails.decline.subject" placeholder="Subject" style="margin-left:0px">
                              <br />
                                <textarea ng-model="AccountsStepData.customizeemails.decline.body" class="form-control decline" style="width:100%;margin-left:0px;height:200px;" cols="5" rows="10" ></textarea>
                              <br />
                             
                              </center>
                            </div>                              
                          </div>   
                          <div>
                          <center >
                            <input ng-repeat="btn in stepButton" 
                            type="button" name="{{btn.name}}" class="btn btn-danger" style="margin-left:20px;"  value="{{btn.name}}" 
                            ng-click="appendBody(btn)">
                          </center>  
                          </div>

                        </div>  
                        <div class="clearfix"></div>            
                      </div>
                       <div class="clearfix"></div>          
                    </div>  
                  </div>
                  
                </div>
                <!-- MY SCHEDULE : End-->
               
                <div class="clearfix"></div>     
                           
  </div>
              <!-- Tab panes :: End-->
</div>
            <!-- overlay -->
             <div class="clearfix"></div>
             <center>
                <div>
                  <input type="button" name="back" value="Back" ng-click="nextStep(6,AccountsStepData)" class="btn btn-default">
                  <input type="button" name="back" value="Next"  class="btn btn-danger">
                </div>
              </center>
              <br />  
                <div class="clearfix"></div>
          
</div>
    </div>
        <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,1); z-index: 1000;" ng-show="hideall">
  </div>
</div>
      <!--overlay-->
   
<ng-include src="'js/home/views/loader.html'"></ng-include>    </div>
  </div>
</div>

<script type="text/javascript">
  $( 'textarea' ).on('click', function(){
    $('textarea').removeClass("selectedBox");
    $(this).addClass("selectedBox");
  });
</script>