.idea
node_modules
npm-debug.log
.DS_Store
coverage
nbproject/project.properties

nbproject/project.xml
tmp

query.csv
email.html

public

nbproject/private/private.xml

nbproject/private/private.properties
