.btn-scheduler {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1em;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 4.5%;
	height: 100%
}

.btn-small {
	background: #F5BBBC;
	border: 2px solid white;
	border-radius: 0px;
	padding: 6px 14px;
	color: #fff;
	font-size: 12px;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 10%
}

.btn-overlay {
	width: 20%
}

.btn-queue {
	background: #F5BBBC;
	border: 2px solid white;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1.8em;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 100%;
	height: 45px;
	margin: 3px;
	padding: 4px;
	line-height: 45px;
	vertical-align: middle;
}

.row-scheduler {
	width:100%;
	height:24px;
	border: 1px solid black;
	border-right: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
}

.row-scheduler:hover {
	background-color: #fff;
}

.row-dark {
	background-color: #cccccc;
}

.row-light {
	background-color: #f2f2f2;
}

.cell-date {
	width: 13%;
	border: 1px solid black;
	font-size: 13px;
	background-color: #f2f2f2;
	line-height: 16px;
	vertical-align: middle;
	color: black;
}

.cell-time {
	width:100%;
	height:24px;
	border:1px solid black;
	vertical-align: middle;
	color: black;
	font-size: 1.1em;
}

.form-scheduler {
	width: 20%;
	margin: 10px auto;
}

.label-scheduler {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 3px;
}

.label-smaller {
	font-size: 1.25em;
}

/** REFORRE INTERACTION **/

.rfr-scheduler-container {
}

.scheduler-small {

}

.row-small {
	font-size: 0.9em;
	height: 4%;
	vertical-align: middle;
}

.label-username {
	font-size: 1.5em;
}

.form-message {
	display: inline;
	width: 80%;
	margin: 0 10px;
	text-align: right;
}

.btn-chat-send {
	background: #F5BBBC;
	border-color: transparent;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1em;
	text-transform:uppercase;
	letter-spacing: 3px;
}