$break-small: 436px;
$break-small-landscape: 774px;

/* SCHEDULER */

#scheduler-container {
	text-align:center;
	width:80%;
	margin:10px auto;
}

.btn-scheduler {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	padding: 3px;
	width: 4.5%;
	height: 100%
}

.btn-small {
	background: #F5BBBC;
	border: 2px solid white;
	border-radius: 0px;
	padding: 6px 14px;
	color: #fff;
	font-size: 12px;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 10%;
}

.btn-overlay {
	width: 20%
}

.btn-queue {
	background: #F5BBBC;
	border: 2px solid white;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1.8em;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 100%;
	height: 45px;
	margin: 3px;
	padding: 4px;
	line-height: 45px;
	vertical-align: middle;
}

.row-scheduler {
	width:100%;
	height:24px;
	border: 1px solid black;
	border-right: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	overflow:hidden;
}

.row-scheduler:hover {
	background-color: #fff;
}

.row-dark {
	background-color: #cccccc;
}

.row-light {
	background-color: #f2f2f2;
}

.cell-date {
	width: 13%;
	border: 1px solid black;
	font-size: 13px;
	background-color: #f2f2f2;
	line-height: 16px;
	vertical-align: middle;
	color: black;
}

.column-day {
	width: 13%;
	height: 100%;
}

.column-time {
	width: 9%;
	height: 100%;
}

.cell-time {
	width:100%;
	height:24px;
	border:1px solid black;
	vertical-align: middle;
	color: black;
	font-size: 1.1em;
}

.form-scheduler {
	width: 20%;
	margin: 10px auto;
}

.label-scheduler {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 3px;
}

.label-smaller {
	font-size: 1.25em;
}

@media screen and (max-width: $break-small-landscape) {
	#scheduler-container {
		width: 90%;
	}
}

/** REFORRE INTERACTION **/

.rfr-schedule-container {
	width: 96%;
	height: 60vh;
	min-height: 480px;
	margin: auto;
	margin-top: 5px;
	display: block;
	position:relative;
}

.scheduler-small {
	width: 49%;
	height: 100%;
	text-align: center;
	margin: auto;
	display: inline-block;
}

#scheduler-right {
	position: absolute;
	right: 0;
	@media screen and (max-width: 436px) {
		margin-left: 0;
		position: initial;
	};
}

.row-small {
	font-size: 0.9em;
	height: 4%;
	vertical-align: middle;
}

.label-username {
	height:6%;
	font-size: 1.5em;
}

.form-message {
	width: 95%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	border-width: 0;
}

.rfr-chat {
	margin: 1% auto;
	width: 96%;
	height: 37vh;
	position: relative;
}

.rfr-chatbox {
	display: inline-block;
	height: 100%;
	background: white;
	border: 2px solid black;
	width: 75%;
	position: relative;
}

.convo-display {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 87%;
	margin: 0;
	position: relative;
	padding: 15px 0 15px 0;
}

.msg-line > p {
	margin: 0;
}

.chat-input {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
	margin:auto;
	border: 2px solid #F5BBBC;
}

.btn-chat-send {
	background: #F5BBBC;
	border-color: transparent;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1em;
	text-transform:uppercase;
	letter-spacing: 3px;
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}

.time {
	margin-top: 4px;
}

.msg-line {
	display: inline-block;
	width: 100%;
	height: auto;
	background: transparent;
	padding: 0 8px;
	margin: 4px 0;
}

.msg-box {
	padding: 2px 6px;
	color: black;
	width: auto;
	display: inline-block;
	max-width: 95%;
	margin: 0;
	vertical-align: middle;
}

.msg-from {
	background: #F5BBBC;
	text-align: right;
	float: right;
}

.msg-to {
	background: #E6E6E6;
	float: left;
}

.msg-notif {
	width: 100%;
	text-align: center;
	color: red;
}

.btn-option {
	background: #F5BBBC;
	border-color: transparent;
	border-radius: 0px;
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 1.5em;
	text-transform:uppercase;
	letter-spacing: 3px;
	width: 100%;
	margin: 10px;
	margin-top: 0;
}

.select-rfr{
	margin: 0;
	margin-left: 10px;
	width: 100%;
}

.trade-options {
	vertical-align: top;
	padding: 0;
	float: right;
	display: inline-block;
	margin: auto 0.5% auto 0;
	width: 24%;
	font-size: 1.5em;
}

@media screen and (max-width: $break-small-landscape) {

	.rfr-schedule-container {
		height: 180vh;
	}

	.scheduler-small {
		width: 100%;
		height: 50%;
	}

	.btn-scheduler {
		width: 6.25%;
	}

	.cell-date {
		width: 12.5%;
	}

	.column-day {
		width: 12.5%;
	}

	.column-time {
		width: 12.5%;
	}

	.rfr-chat {
		margin-top: 0;
	}

	.rfr-chatbox {
		width: 100%;
	}

	.trade-options {
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 10px;
		padding-bottom: 10px;
	}

	.btn-option {
		margin-left: 0;
	}

	.select-rfr {
		margin-left: 0;
	}

	.form-message {
		width: 75%;
	}

}

/** LISTS PAGE **/

hr {
	border-color: gray;
	margin-bottom: 0;
	margin-top: 10px;
}

h2, h3 {
	margin:  15px auto;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}

.notification-bubble {
    right: -8px;
    top: -10px;
    position: absolute;
    border-radius: 5px;
    width: 10%;
    padding-top: 2px;
    background: #ff3300;
    text-align: center;
}

.trades-container {
	height: 130px;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#trades-list {
	height: 100%;
	margin: 0;
	position: absolute;
	bottom:0;
	left: 50pt;
	display: flex;
	flex-direction: row;
}

.trade-box {
	height: 100px;
	min-width: 200px;
	margin: 10px 20px;
	margin-right: 0px;
	background: #C9A7CD;
	color: white;
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 5px;
}

.btn-manage-trade {
	color: #652D91;
	margin: auto;
	width: 95%;
	border-radius: 0px;
	border-width: 0px;
	border-color: transparent;
	background: white;
	vertical-align: bottom;
	font-size: 1.2em;
}

.btn-manage-trade:hover {
	color: white;
	background: #652D91;
}

.label-box-username {
	font-size: 1.6em;
	margin: auto;
}

.label-freq {
	font-size: 1.6em;
	margin: auto;
}

.label-ratio {
	font-size: 1.8em;
	margin: 0 auto;
	display: box;
}

.btn-trades-list {
	height: 100%;
	width: 50px;
	margin: 0;
	position: absolute;
	top: 0;
	background: white;
	border-color: transparent;
	border-radius: 0px;
	border-width: 0px;
}

.btn-trades-list > img {
	margin: auto;
	width: 90%;
}

#trades-list-back {
	left: 0;
}

#trades-list-next {
	right: 0;
}

#search-container {
	width: 100%;
	position: relative;
}

#search-inputs {
	width: 100%;
	height: initial;
	position: relative;
}

#search-left {
	margin: 0;
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#search-right {
	margin: 0;
	width: 55%;
	display: inline-block;
	vertical-align: top;
}

#input-username {
	width: 80%;
	margin: auto;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
}

#btn-search {
	background: #F5BBBC;
	border-color: transparent;
	border-radius: 0px;
	padding: 6px 14px;
	color: #fff;
	font-size: 12px;
	text-transform:uppercase;
	letter-spacing: 3px;
	display: inline-block;
	position: absolute;
	right: 0;
}

#select-genre-search {
	width: 25%;
	display: inline-block;
	margin-left: 10px;
}

.input-follower-range {
	width: 30%;
	display: inline-block;
	margin: 10px;
	margin-top: 0;
	text-align: center;
}

#follower-range {
	width: 80%;
	display: inline-block;
}

#genre-select {
}

#search-container {
	height: 120px;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#search-results {
	height: 100%;
	margin: 0;
	position: absolute;
	bottom:0;
	left: 50pt;
}

#results-list-back {
	left: 0;
}

#results-list-next {
	right: 0;
}

.user-box {
	height: 100px;
	min-width: 200px;
	margin: 10px 20px;
	margin-right: 0px;
	background: #C9A7CD;
	color: white;
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 5px;
}

.label-result-box {
	font-size: 1.6em;
	margin: auto;
}

.btn-open-trade {
	color: #652D91;
	margin: auto;
	width: 95%;
	border-radius: 0px;
	border-width: 0px;
	border-color: transparent;
	background: white;
	vertical-align: bottom;
	font-size: 1.2em;
}

.btn-open-trade:hover {
	color: white;
	background: #652D91;
}

 .slide-box{
	margin:0 10px 0 10px;
}
 
 .slick-list,.slick-slider{
	margin: 0 4px;
 }


.artist-nav{
 	margin-bottom: 0px;border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0;
 }

.artist-nav .navbar-nav > li > a{
   margin-top: 15px;
	padding: 10px 15px;
 }
 

@media screen and (max-width: 436px) {

	#search-left {
		width: 100%;
	}

	#search-right {
		width: 100%;
		margin: auto;
	}

	#follower-range {
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}

	.input-follower-range {
		width: 20%;
	}

	.user-box {
		width: 140px;
	}

	.btn-open-trade {
		margin:0;
		margin-bottom: 0;
		position: absolute;
		bottom: 7px;
		left: 7px;
		width: 126px;
	}

	#btn-search {
		position: relative;
		margin: auto;
		display: block;
	}

	.trades-container {
		overflow-x: scroll;
	}

	#search-container {
		overflow-x: scroll;
	}

	.btn-trades-list {
		display: none;
	}

}.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/*Slick Slider--START*/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    /*color: #F7DFAD;*/
    border: none;
    outline: none;
    /*background: #F7DFAD;*/
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #F5BBBC;
    outline: none;

    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #F5BBBC;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.marg-top {
	margin-top : 20px;
}

.slick-prev
{
    left: -15px !important;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -15px !important;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*Slick Slider--END*/