<ng-include src="'js/home/views/_adminHeaderNavigation.html'"></ng-include>
<div id="wrapper">
<ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
  <!-- Content Start  -->
  <div class="container-fluid height-100pr" ng-init="loadSubmissions();getChannels();">
    <div class="row height-100pr">
      <div class="col-lg-12">
        <div class="page-content right-side min-ht padding-10">
          <!--page-contant Start-->
          <div style="width:100%; text-align:center; margin: 10px auto;">
    <select class="form-control" style="width:170px;float:right; margin-right:10px;"ng-options="item for item in   genreArray" ng-model="genre" ng-change="getSubmissionsByGenre()">
      <option value="">--Select Genre--</option>
    </select>
    <br>
    <br>
            <div ng-repeat="sub in showingElements" style="padding:10px 10px; margin:10px 10px; background-color: #fff; border-bottom: solid 1px #dcdcdc;">
      <h4>Name: {{sub.name}} ----- Email: {{sub.email}} ----- Genre: {{sub.genre}}</h4>
      <h4>Comment: {{sub.comment}}</h4>
              <audio class="premier-video" controls>
        <source ng-src="{{sub.s3URL | trusted }}" type="audio/mpeg">
        </audio>
              <div class="premier">
                <button class="premier-btn btn" ng-click="decline(sub)" style="background-color:red;">Decline</button>
                <button class="premier-btn btn" ng-click="accept(sub)" style="background-color:#67f967;">Accept</button>
                <button class="premier-btn btn" ng-click="delete(sub)" style="background-color:red;">Delete</button>
        </div>
              <div class="premier-slect">
                <select class="form-control" ng-model="sub.channel" ng-change="channelChange(sub)">
            <option value="">-Channel List-</option>
            <option ng-repeat="chan in channels" value="{{chan}}">{{chan.displayName}}</option>
          </select>  
                <button class="btn send-mail"><a href="mailto:{{sub.email}}?subject=Premier Submissions&body={{sub.emailBody}}">Send Email</a></button>   
        </div>
      </div>
      <br>
            <button class="btn" ng-click="loadMore()" style="width:95%; height: 45px; margin: 0 0; background-color:#67f967 ; font-size:2em;line-height: 0;">Load More</button>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>