<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container" ng-init="checkIfSubmission()">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-area bg-white">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="bold">Artist Tools</h1>

            <div class="internal-content">
              </br>
              <!-- <form role="form" ng-submit="login()">
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-3">
                    <input class="form-control" type="email" placeholder="Email" ng-model="loginObj.email" required/>
                  </div>
                </div>
                </br>
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-3">
                    <input class="form-control" type="password" placeholder="Password" ng-model="loginObj.password" required/>
                  </div>
                </div>
                </br>
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-3">
                    <div class="text-center">
                      <p ng-show="message.visible" class="text-center">{{message.val}}</p>
                      <br/>
                      <a class="btn btn-default btn-lg btn-enter pull-left" href="#" ui-sref="signup">SIGN UP</a>
                      <button class="btn btn-default btn-lg btn-enter pull-right" type="submit">LOG IN</button>
                       
                    </div>
                  </div>
              </form> -->
                  <div class="col-sm-5 col-sm-offset-3">
                    <!-- <div class="text-center">
                       <button class="btn btn-default btn-block btn-lg btn-soundcloud soundcloud-img" ng-click="soundcloudLogin()" type="button"><img src="assets/images/soundcloud_icon.png">Sign in with soundcloud</button>
                    </div> -->
                    <div class="text-center">
                      <!-- <img src="assets/images/soundcloud-connect-button.png" class="btn btn-enter"  ng-click="soundcloudLogin()"> -->
                      <button class="btn btn-enter" ng-click="soundcloudLogin()">Connect with SoundCloud</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>        
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>

