<style>
.grey {
  background-color:#DCDCDC;
  color:#000000 !important;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
  .disabled{
  opacity: 1.5;
  pointer-events: none;
}
</style>
<ng-include src="'js/artistTools/ArtistTools/header-navigation.html'"></ng-include>
<!-- Content Start  -->
<div id="wrapper">
  <ng-include src="'js/artistTools/ArtistTools/navigation.html'"></ng-include>
  <div class="container-fluid height-100pr">
    <div class="row">
      <div class="col-md-12">
        <div class="page-content right-side">
          <!--page-contant Start-->
          <div class="scheduler-tabs">
            <div class="container-90 col-md-12" style="margin-bottom:20px;">
              <div class="col-md-5 pull-left text-left" style="margin-left:40px;">
                <div class="btn-group" role="group" aria-label="...">
                  <a class="btn btn-default b-radius-10" ng-class="{active : itemview == 'calender'}" href="javascript:void(0)" ng-click="setView('calender')"><img src="assets/images/box-view.png" /></a>
                  <a class="btn btn-default b-radius-10" ng-class="{active : itemview == 'list'}" href="javascript:void(0)" ng-click="setView('list')"><img src="assets/images/list-view.png" /></a>
                </div>
              </div>
              <div class="col-md-5 text-left">
                <div>
                  <img src="{{trackImage}}" class="img-responsive" style="display: inline;">
                  <span>{{listevents[0].trackInfo.title}}</span>
                </div>
              </div>
            </div>
            <div class="">
              <div id="scheduler-container" ng-show="itemview == 'calender'">
                <div style="width:100%; height:35px; display:flex; flex-direction:row;margin-bottom: 10px; ">
                  <button class="btn btn-default btn-scheduler" ng-click="decrDay()"><img src="/assets/images/left-arrow.png"/></button>
                  <div class="bold cell-date" ng-repeat="t in [0,1,2,3,4,5,6]">{{dayOfWeekAsString(calendar[t+dayIncr].day).substring(0,3)}} {{calendar[t+dayIncr].day.getMonth()+1}}/{{calendar[t+dayIncr].day.getDate()}}
                  </div>
                  <button class="btn btn-default btn-scheduler" ng-click="incrDay()" ><img id="scheduler-btn-back" src="/assets/images/right-arrow.png"/></button>
                </div>
                <div style="width:100%; display:flex; flex-direction:row;">
                  <div class="column-time">
                    <div ng-repeat="i in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16', '17', '18', '19', '20', '21', '22', '23']" class="cell-time bold">{{i}}</div>
                  </div>   
                  <div ng-repeat="l in [0,1,2,3,4,5,6]" class="column-day">
                    <div ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-style="getStyle(calendar[l+dayIncr].events[p], calendar[l+dayIncr].day, l, p)" class="row-scheduler" ng-click="clickedSlot(calendar[l+dayIncr].day, p,calendar[l+dayIncr].events[p])" style="position:relative;">
                      <div ng-style="getEventStyle(calendar[l+dayIncr].events[p])" class="text-left scheduler-yellow"><img ng-if="calendar[l+dayIncr].events[p].userInfo" src="{{calendar[l+dayIncr].events[p].userInfo.avatarURL}}" style="height:17px;width:17px;">&nbsp;&nbsp;<span style="color:#fff;">{{calendar[l+dayIncr].events[p].userInfo.username}}</span></div>
                      <img ng-show="unrepostSymbol(calendar[l+dayIncr].events[p])" class='unrepost-symbol-scheduler' src="assets/images/unrepost_symbol.png"></img>
                    </div>
                  </div>
                </div>
              </div>
              <div id="scheduler-container" ng-show="itemview == 'list'">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="10%">Status</th>
                      <th width="35%">Track Name</th>
                      <th width="20%">Account</th>
                      <th width="20%">Date</th>
                      <th width="15%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in listevents">
                      <td class="text-left"><div class="div-dot" style="width: 8px;border-radius: 10px;background: {{item.trackInfo.completed ? 'green':'red'}};height: 8px;">&nbsp;</div></i></td>
                      <td class="text-left">{{item.trackInfo.title}}</td>
                      <td class="text-left">{{item.userInfo.username}}</td>
                      <td class="text-left">{{item.trackInfo.day | date: 'MMM dd yyyy hh:mm a'}}</td>
                      <td><span ng-if="item.trackInfo" style="color:{{item.trackInfo.type == 'track'? '#FF0000' : '#FF6347'}}">{{item.trackInfo.type}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="overlay" ng-show="showOverlay" id="scheduleModal" style="z-index: 999;">
              <div class="available-popup-box" ng-class="{'disabled': true}">
                <div class="label-scheduler label-smaller slot-box" ng-click="$event.stopPropagation();">
                  <div class="">
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                        <h5 class="text-center">AVAILABLE SLOT</h5>
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <input style="" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="songScheduler" ng-model="makeEvent.url">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12 col-xs-12">   
                        <span>{{makeEvent.day | date:'MMMM dd yyyy h:mma'}}</span>
                      </div>
                    </div>
                  <!--   <div class="row">
                      <div class="col-md-12">
                        <div class="btn-group channel-group" ng-if="user.role == 'admin'" role="group" aria-label="...">
                          <a class="btn btn-default active" ng-model="displayType" ng-value="'channels'" ng-class="{active : itemview == 'calender'}" href="javascript:void(0)" ng-click="setView('calender');setActive('channel')">Channels</a>
                          <a class="btn btn-default" ng-class="{active : itemview == 'list'}" href="javascript:void(0)" ng-click="setView('list');setActive('group')">Groups</a>
                        </div>
                        <div class="channel-check" style="font-size: 11px;">
                          <div class="channel-masege">
                            <ul>
                              <li class="" ng-show="displayChannels.length > 0" ng-repeat="chan in displayChannels">{{chan}}<span></span></li>
                            
                            </ul>
                          </div>
                          <div class="check-list text-left">
                            <div class="checkbox demo-radio-btn" ng-show="displayType == 'group'" ng-repeat="group in uniqueGroup">
                              <p>
                                <label class="with-square-checkbox">
                                <input style="" id="{{group}}" ng-click="setGroup(group);" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-pristine ng-empty" type="checkbox" >
                                <span>{{group}}</span> </label>
                              </p>
                            </div>
                            <div class="checkbox demo-radio-btn" ng-show="user.role == 'admin'" ng-show="displayType == 'channel'" ng-repeat="channel in user.paidRepost">
                              <p>
                                <label class="with-square-checkbox">
                                <input style="" id="{{channel.username}}" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-pristine ng-empty" ng-click="setChannel(channel.username);" type="checkbox">
                                <span>{{channel.username}}</span> 
                                </label>
                              </p>
                            </div>
                            <div class="checkbox demo-radio-btn" ng-show="user.role == 'user'" ng-show="displayType == 'channel'" ng-repeat="u in linkedAccounts">
                              <p>
                                <label class="with-square-checkbox">
                                <input style="" id="{{u.soundcloud.username}}" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-pristine ng-empty" ng-click="setChannel(u.soundcloud.username);" type="checkbox">
                                <span>{{u.soundcloud.username}}</span> 
                                </label>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <br>
<!--                     <span style="font-size:11px;">Total Reach: {{followCounts}} followers</span>
 -->                    <div class="row">
                      <div class="col-md-12 text-left">
                        <li class="switch-btn" style="font-size: 14px;vertical-align: middle;
                        list-style: outside none none;">
                          <label class="switch" style="vertical-align: top;">
                            <input checked="" type="checkbox">
                            <div class="slider round"></div>
                          </label> 
                          <span>Unrepost after<input  class="form-control input-hour" placeholder="1" ng-model="makeEvent.unrepostHours">hours</span>
                        </li>
                      </div>
                      <div class="col-xs-12" style="font-size:14px;">
                        <label>Time between reposts:</label>
                        <select class="form-control input-hour">
                          <option>{{makeEvent.timeGap}}</option>
                        </select> hours
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                         <div id="scPopupPlayer" style="margin:10px 0; width:100%;"></div>      
                      </div>
                    </div><!--row end-->
                    <br> 
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="pull-right">
                          <ul class="like-comment">
                            <li>
                              <a href="javascript:void(0);" ng-click="changeLikeCommentIcons('like');"><img src="{{likeSrc}}" class="img-responsive"></a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" ng-click="changeLikeCommentIcons('comment');"><img src="{{commentSrc}}" class="img-responsive"></a>
                            </li>
                          </ul>                      
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">                        
                        <div class="acceptance">
                          <div class="channel-check">
                            <textarea class="form-control" ng-disabled="disable">{{makeEvent.comment}}</textarea>
                           
                          </div>  
                            <div class="next-previous">
                              <button class="btn btn-border b-radius-10 pull-left" ng-disabled="disable" ng-click="getPrevNextComment('previous')">Previous</button>
                              <button class="btn btn-border b-radius-10 pull-right" ng-disabled="disable" ng-click="getPrevNextComment('next')">Next</button>
                            </div>
                          </div>                         
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="next-previous text-center available-slot-btn">
                          <!-- <button class="btn border-black-btn" style="width:100%;">SKIP TO NEXT AUTOFILL</button> -->
                          <button class="btn btn-border b-radius-10 organize-btn" style="width:100%;" ng-click="saveEvent();">SAVE &amp; SHARE</button>
                        </div>
                      </div>
                    </div><!--row end-->                  
                  </div>
                </div>
              </div>
            </div>
<ng-include src="'js/home/views/loader.html'"></ng-include>