 .follow-area {
	height: auto;
	padding: 0;
}
.follow-section{
	position: relative;
}
.follow-container {
	height: 100%;
	width: 100%;
	min-height: 595px;
	position: relative;
	// background: #fff url(../../assets/images/header-overlay.png) no-repeat;
	padding: 12% 0;
}
.follow-box-container {
	position: absolute;
	top: 18%;
	left: 50%;
	margin-left: -195px;
	padding-bottom: 100px;
}
.follow-box {
	background: #fff;
	// height: 400px;
	position: relative;
	margin: 0 0 20px;
	overflow: hidden;
}
.custom-sc-player {
	width:360px;
	height: 360px;
}
.custom-sc-player-overlay {
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.follow-bottom {
	padding: 10px 10px;
	background-color: #fff;
	width: 100%;
	bottom: 0;
}
.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.control-icon {
	font-size: 50px;
	margin: 150px auto;
	color: #FFFFFF
}
.pad-download-agreement {
	padding: 5px 5px;
}