.processing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 1; }

.processing-inner {
  font-color: white;
  margin-top: 400px;
  z-index: 2;
  overflow: hidden; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.processing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 1; }

.processing-inner {
  font-color: white;
  margin-top: 400px;
  z-index: 2;
  overflow: hidden; }

body {
  background: url(assets/images/fade-background.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: #686868;
  padding-top: 90px;
  background-attachment: fixed;
  font-family: Helvetica, Sans-Serif; }

#main {
  height: 100%;
  padding-top: 0px;
  margin: 0 auto; }

/* Custom classes start */
.margin-top-5 {
  margin-top: 5%; }

.margin-top-10 {
  margin-top: 10%; }

.margin-top-15 {
  margin-top: 15%; }

.margin-top-20 {
  margin-top: 20%; }

.text-justify {
  text-align: justify; }

.bg-white {
  background: #fff; }

.bold {
  font-weight: bold; }

/* Custom classes end */
/* Bootstap Modify CSS start */
.navbar-default {
  background-color: #fff;
  border-color: transparent; }

.navbar-nav,
.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: top; }

.navbar-inner {
  text-align: center; }

.nav > li > a {
  padding: 10px 45px;
  line-height: 40px; }

.navbar-default .navbar-nav > li > a {
  color: #686868;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 4px; }

.form-control {
  border-radius: 0px;
  border-color: #F7EAAD; }

.navbar {
  min-height: 40px; }

.navbar-toggle {
  margin-top: 18px; }

.navbar-brand {
  padding: 8px 15px; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-fixed-top {
  border-width: 0; }

/* Bootstap Modify CSS End */
.logo img {
  height: 45px; }

.main-container {
  position: relative;
  height: 100%; }

.content-area {
  height: auto;
  padding: 8.2%; }

.internal-content {
  margin: 8% 0 0 0;
  font-size: 1em; }

.btn-enter {
  background: #F5BBBC;
  border: transparent;
  border-radius: 0px;
  padding: 14px 50px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.btn-start {
  background: #fff;
  border: transparent;
  border-radius: 0px;
  padding: 14px 50px;
  color: #686868;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.no-border {
  border: 0px;
  border-radius: 0px; }

/* Contact Page Start */
.address-content {
  margin: 10% 0 0 0; }

.address-line {
  margin: 10px 0 0 0;
  display: block; }

/* Contact Page End */
/* Home Page Start */
.intro-section {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 8% 0; }

.white-text {
  color: #fff; }

.logo-contatainer {
  margin: 0px 0px 60px auto;
  width: 100%;
  display: block; }

.intro-logo {
  border-right: 4px solid white;
  padding-right: 25px;
  display: inline-block; }

.intro-text {
  text-align: left;
  float: right;
  width: 60%; }

.intro-text h1 {
  color: #fff;
  font-weight: bolder;
  margin: 0; }

.v-line {
  border-right: 4px solid #fff;
  height: 80px;
  display: inline-block; }

/* Home Page End */
/* Responsive CSS START */
@media screen and (max-width: 1024px) {
  .nav > li > a {
    padding: 10px 22px; } }

@media screen and (max-width: 1199px) {
  .nav > li > a {
    padding: 10px 12px; } }

@media screen and (max-width: 1050px) {
  .nav > li > a {
    padding: 10px 26px; } }

@media screen and (max-width: 980px) {
  .nav > li > a {
    padding: 10px 12px; } }

@media screen and (max-width: 900px) {
  .nav > li > a {
    padding: 10px 12px; } }

@media screen and (max-width: 768px) {
  .nav > li > a {
    padding: 10px 12px; }
  .intro-logo {
    text-align: right; } }

/*************** Responsive Css End *************/
.follow-area {
  height: auto;
  padding: 0; }

.follow-section {
  position: relative; }

.follow-container {
  height: 100%;
  width: 100%;
  min-height: 595px;
  position: relative;
  padding: 12% 0; }

.follow-box-container {
  position: absolute;
  top: 18%;
  left: 50%;
  margin-left: -195px;
  padding-bottom: 100px; }

.follow-box {
  background: #fff;
  position: relative;
  margin: 0 0 20px;
  overflow: hidden; }

.custom-sc-player {
  width: 360px;
  height: 360px; }

.custom-sc-player-overlay {
  height: 100%;
  width: 100%;
  cursor: pointer; }

.follow-bottom {
  padding: 10px 10px;
  background-color: #fff;
  width: 100%;
  bottom: 0; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.control-icon {
  font-size: 50px;
  margin: 150px auto;
  color: #FFFFFF; }

.pad-download-agreement {
  padding: 5px 5px; }
