@charset "UTF-8";
.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.processing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 214, 176, 0.9);
  text-align: center;
  z-index: 1; }

.processing-inner {
  font-color: white;
  margin-top: 400px;
  z-index: 2;
  overflow: hidden; }

/******* Preloader Css Start ********/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(249, 214, 176, 0.9);
  z-index: 1043;
  /* makes sure it stays on top */ }

.loader-spinner {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-animation: spinner 0.5s linear infinite;
  animation: spinner 0.5s linear infinite;
  left: 50%;
  /* centers the loading animation horizontally on the screen */
  top: 50%;
  /* centers the loading animation vertically on the screen */
  margin: -20px 0 0 -20px;
  /* is width and height divided by two */ }

.loader-spinner > span {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  top: -3px;
  left: -3px; }

.loader-spinner > span > span {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #E87133;
  border-radius: 50%; }

.ZebraDialog .ZebraDialog_Title, .ZebraDialog .ZebraDialog_BodyOuter, .ZebraDialog .ZebraDialog_ButtonsOuter {
  border-width: 0px;
  background: #fff; }

.ZebraDialog_BodyOuter {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important; }

.ZebraDialog_ButtonsOuter {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important; }

.ZebraDialog .ZebraDialog_Buttons a:hover {
  background: #e7edef;
  color: #332;
  border-radius: 8px; }

.ZebraDialog .ZebraDialog_Buttons a {
  background: #f5bbbc;
  color: #FFF;
  border-radius: 8px; }

.time {
  text-align: center; }

.msg-box {
  border-radius: 0px;
  padding: 2px 14px; }

.alert-box {
  text-align: center;
  color: #ff3300; }

.ZebraDialog .ZebraDialog_Information {
  background-image: url("../assets/images/zebra_dialog_icon.png"); }

.ZebraDialog .ZebraDialog_Confirmation {
  background-image: url("../assets/images/zebra_dialog_icon.png"); }

.ZebraDialog .ZebraDialog_Error {
  background-image: url("../assets/images/zebra_dialog_icon.png"); }

.ZebraDialog .ZebraDialog_Question {
  background-image: url("../assets/images/zebra_dialog_icon.png"); }

.ZebraDialog .ZebraDialog_Warning {
  background-image: url("../assets/images/zebra_dialog_icon.png"); }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/******* Preloader Css End ********/
@font-face {
  font-family: 'TypoRoundFont';
  src: url("/Typo_Round_Regular_Demo.otf"); }

body {
  background: url(assets/images/fade-background.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: #686868;
  padding-top: 90px;
  background-attachment: fixed;
  font-family: Helvetica, Sans-Serif;
  background-color: #F7EAAD;
  margin: 0px; }

#main {
  height: 100%;
  padding-top: 0px;
  margin: 0 auto; }

/* Custom classes start */
.margin-top-5 {
  margin-top: 5%; }

.margin-top-10 {
  margin-top: 10%; }

.margin-top-15 {
  margin-top: 15%; }

.margin-top-20 {
  margin-top: 20%; }

.text-justify {
  text-align: justify; }

.bg-white {
  background: #fff; }

.bold {
  font-weight: bold; }

/* Custom classes end */
/* Bootstap Modify CSS start */
.navbar-default {
  background-color: #fff;
  border-color: transparent; }

.navbar-fixed-top {
  height: 60px;
  /* Whatever you want. */ }

.navbar-inner {
  text-align: center;
  background: #fff; }

/*.nav > li > a {
padding: 10px 45px;
}*/
.nav > li > a {
  padding: 10px 15px;
  margin: 0 32px; }

.navbar-default .navbar-nav > li > a {
  color: #686868;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: 10px; }

.form-control {
  border-radius: 8px;
  border-color: #F5D3B5;
  outline: none;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.navbar {
  min-height: 40px; }

.navbar-toggle {
  margin-top: 18px; }

.navbar-brand {
  padding: 8px 15px; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-fixed-top {
  border-width: 0; }

a:hover, a:focus {
  text-decoration: none; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: transparent;
  border-bottom: 1px solid #000; }

.btn-default:hover {
  background-color: #F7F7F7;
  border-color: #F7F7F7; }

/* Bootstap Modify CSS End */
.logo img {
  height: 45px; }

.main-container {
  position: relative;
  height: 100%; }

.content-area {
  height: auto;
  padding: 5% 6%;
  padding-top: 1%;
  border-radius: 8px; }

.internal-content {
  margin: 10px 0 0 0;
  font-size: 1em; }

.btn-enter {
  background: #F5BBBC;
  border: transparent;
  border-radius: 8px;
  padding: 14px 50px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 10px; }

.btn-start {
  background: #fff;
  border: transparent;
  border-radius: 8px;
  padding: 14px 50px;
  color: #686868;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.btn-soundcloud {
  position: relative;
  color: #FFF;
  background-color: #F50;
  border: 0px none;
  border-radius: 8px;
  text-align: left;
  padding-left: 65px;
  font-size: 14px; }

.btn-soundcloud:hover {
  color: #FFF;
  background-color: #C40; }

.no-border {
  border: 0px;
  border-radius: 0px; }

/* Contact Page Start */
.address-content {
  margin: 10% 0 0 0; }

.address-line {
  margin: 10px 0 0 0;
  display: block; }

/* Contact Page End */
/* Home Page Start */
.intro-section {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 8% 0; }

.white-text {
  color: #fff; }

.logo-contatainer {
  margin: 0px 0px 60px auto;
  width: 100%;
  display: block; }

.intro-logo {
  display: inline-block; }

.front-logo {
  height: 110px; }

.intro-text {
  text-align: left;
  float: right;
  width: 60%; }

.intro-text h1 {
  color: #fff;
  font-weight: bolder;
  margin: 0;
  font-size: 3.5em; }

.v-line {
  border-right: 4px solid #fff;
  height: 80px;
  display: inline-block; }

/* Home Page End */
/* Download Gatway CSS Start */
.track-bottom {
  padding: 10px; }

.song-container {
  min-height: 150px; }

.song-url {
  position: relative;
  margin-bottom: 10px;
  width: 100%; }

.close-ic {
  display: inline-block;
  margin-left: 5px;
  margin-top: 8px; }

.close-ic-rel {
  position: absolute;
  top: 7px;
  right: -25px; }

.social-container {
  min-height: 150px; }

.social-container a {
  color: #F5D3B5; }

.social-media-links {
  position: relative;
  margin-bottom: 10px;
  width: 90%; }

.facebook {
  background: #F5D3B5 url("assets/images/facebook_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.twitter {
  background: #F5D3B5 url("assets/images/twitter_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.instagram {
  background: #F5D3B5 url("assets/images/instagram_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.youtube {
  background: #F5D3B5 url("assets/images/youtube_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.spotify {
  background: #F5D3B5 url("assets/images/spotify_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.soundcloud {
  background: #F5D3B5 url("assets/images/soundcloud_icon.png") no-repeat scroll center center/30px auto;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0; }

.soundcloud-img img {
  position: absolute;
  width: 46px;
  top: 0px;
  left: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 6px; }

.permanent-links {
  min-height: 150px; }

.permanent-links a {
  color: #F5D3B5; }

.input-box {
  margin-bottom: 10px;
  margin-top: 10px; }

.input-box input {
  display: inline-block;
  width: 80%; }

.pro-icon {
  margin-top: 2px;
  margin-left: 5px; }

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.artist-follow {
  position: relative;
  min-height: 150px; }

.artist-follow a {
  color: #F5D3B5; }

.orange-text {
  color: #F5D3B5; }

.checkbox-container {
  width: 100%;
  padding: 10px 0; }

.checkbox-container ul {
  padding: 0;
  margin: 0; }

.checkbox-container ul li {
  list-style-type: none; }

/*** custom checkboxes Start ***/
.check-bx label.with-square-checkbox {
  margin-right: 10px; }

label.with-square-checkbox {
  cursor: pointer;
  font-weight: 400; }

label.with-square-checkbox span {
  line-height: 24px; }

.check-bx label.with-square-checkbox span::before {
  margin-right: 4px;
  padding-left: 2px;
  width: 21px;
  height: 21px;
  border: 1px solid #F5D3B5;
  display: inline-block;
  line-height: 20px;
  content: '';
  float: left; }

label.with-square-checkbox span::before {
  margin-right: 4px;
  padding-left: 2px;
  width: 21px;
  height: 21px;
  border: 1px solid #F5D3B5;
  display: inline-block;
  line-height: 18px;
  content: '';
  float: left; }

label.with-square-checkbox input[type="checkbox"] {
  display: none; }

label.with-square-checkbox input[type="checkbox"]:checked + span::before {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  color: #F5D3B5; }

.player {
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  overflow: none;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }

/*** custom checkboxes End***/
.form-container {
  min-height: 350px; }

/* Download Gatway CSS End */
/* Responsive CSS START */
@media screen and (max-width: 1024px) {
  .nav > li > a {
    padding: 10px 22px;
    margin: 0 15px; } }

@media screen and (max-width: 1199px) {
  .nav > li > a {
    padding: 10px 12px;
    margin: 0 20px; } }

@media screen and (max-width: 1050px) {
  .nav > li > a {
    margin: 0 22px; } }

@media screen and (max-width: 980px) {
  .nav > li > a {
    padding: 10px 12px;
    margin: 0 10px; } }

@media screen and (max-width: 900px) {
  .nav > li > a {
    margin: 0; } }

@media screen and (max-width: 768px) {
  .nav > li > a {
    margin: 0; }
  .intro-logo {
    text-align: right;
    margin-left: 20%; }
  .content-area {
    padding: 1% 2% 5% 2%; } }

@media screen and (max-width: 375px) {
  .intro-logo {
    margin-left: 0; }
  .front-logo {
    height: 100px; }
  .intro-text h1 {
    font-size: 3.3em; } }

@media screen and (max-width: 360px) {
  .intro-logo {
    margin-left: 0; }
  .front-logo {
    height: 90px; }
  .intro-text h1 {
    font-size: 2.8em;
    padding-left: 8px; } }

@media screen and (max-width: 320px) {
  .front-logo {
    height: 90px; }
  .intro-text h1 {
    font-size: 2.5em;
    padding-left: 6px;
    padding-top: 11px; }
  .intro-logo {
    margin-left: 0; } }

/*************** Responsive Css End *************/
.follow-area {
  height: auto;
  padding: 0; }

.follow-section {
  position: relative; }

.follow-container {
  height: 100%;
  width: 100%;
  min-height: 595px;
  position: relative;
  padding: 12% 0; }

.follow-box-container {
  position: absolute;
  top: 18%;
  left: 50%;
  margin-left: -195px;
  padding-bottom: 100px; }

.follow-box {
  background: #fff;
  position: relative;
  margin: 0 0 20px;
  overflow: hidden; }

.custom-sc-player {
  width: 360px;
  height: 360px; }

.custom-sc-player-overlay {
  height: 100%;
  width: 100%;
  cursor: pointer; }

.follow-bottom {
  padding: 10px 10px;
  background-color: #fff;
  width: 100%;
  bottom: 0; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.control-icon {
  font-size: 50px;
  margin: 150px auto;
  color: #FFFFFF; }

.pad-download-agreement {
  padding: 15px 5px 0 5px;
  text-align: center;
  font-size: 0.8em; }

.sidebar-tracks {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  margin-top: 90px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 3; }

.songs-list h4 {
  font-size: 12px; }

.song-list span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px; }

.songs-list a {
  display: inline-block;
  white-space: nowrap;
  text-align: right; }

html {
  height: 100%; }

button:focus,
button:after,
button:active:after {
  outline: none; }

/* SCHEDULER */
#scheduler-container {
  text-align: center;
  width: 80%;
  margin: 60px auto; }

.unrepost-symbol {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 2px 2px; }

.unrepost-symbol-scheduler {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 2px 2px; }

.btn-scheduler {
  background: transparent;
  border-color: transparent;
  border-radius: 0px;
  padding: 3px;
  width: 4.5%;
  height: 100%; }

.btn-scheduler > img {
  height: 100%;
  margin-top: -20%; }

.btn-small {
  background: #F5BBBC;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.btn-overlay {
  /*width: 20%;*/ }

.btn-queue {
  background: white;
  border: none;
  text-align: center;
  padding: 3px;
  width: 70px;
  height: 45px;
  display: inline-block;
  padding: 4px;
  line-height: 45px;
  vertical-align: middle; }

.btn-queue > img {
  height: 70%;
  margin: auto;
  margin-top: -15px;
  vertical-align: center; }

.row-scheduler {
  width: 100%;
  height: 24px;
  border: solid #dddddd;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden; }

.row-scheduler:hover {
  background-color: #f2f2f2; }

.row-dark {
  background-color: #cccccc; }

.row-light {
  background-color: #f2f2f2; }

.cell-date {
  width: 13%;
  /*border: solid $light-gray;
	border-width: 0 0 1px 0;*/
  color: #b3b3b3;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle; }

.column-day {
  width: 13%;
  height: 100%; }

.column-time {
  width: 4.5%;
  height: 100%; }

.cell-time {
  width: 100%;
  height: 24px;
  /*border: solid $light-gray;
	border-width: 0 1px 0 0;*/
  vertical-align: middle;
  color: #b3b3b3;
  font-size: 1.1em; }

.form-scheduler {
  width: 20%;
  margin: 10px auto; }

.label-scheduler {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px; }

.label-smaller {
  font-size: 1.25em; }

.extrapadding {
  padding: 20px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5000px;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center; }

.slot-box {
  width: 500px;
  background-color: white;
  margin: 250px auto;
  padding: 50px 0;
  border-radius: 12px; }

@media screen and (max-width: 774px) {
  #scheduler-container {
    width: 90%; } }

/** REFORRE INTERACTION **/
.rfr-schedule-container {
  width: 98%;
  height: 60vh;
  min-height: 480px;
  margin: auto;
  display: block;
  position: relative; }

.scheduler-small {
  width: 49%;
  height: 100%;
  text-align: center;
  margin: auto;
  display: inline-block; }

#scheduler-right {
  position: absolute;
  right: 0; }
  @media screen and (max-width: 436px) {
    #scheduler-right {
      margin-left: 0;
      position: initial; } }

.row-small {
  font-size: 0.9em;
  height: 4%;
  vertical-align: middle; }

.label-username {
  height: 6%;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center; }

.form-message {
  width: 95%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 0; }

.rfr-chat {
  margin: 1% auto;
  width: 96%;
  height: 220px;
  position: relative; }

.rfr-chatbox {
  display: inline-block;
  height: 220px;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 0 0;
  width: 75%;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }

.convo-display {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 180px;
  margin: 0;
  position: relative;
  padding: 15px 0 15px 0; }

.msg-line > p {
  margin: 0; }

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  margin: auto;
  border: 1px solid #dddddd;
  border-width: 1px 0 0 0; }

.btn-chat-send {
  background: white;
  border-left: 1px solid #dddddd;
  border-width: 0 0 0 1px;
  border-radius: 0;
  padding: 0;
  color: #dddddd;
  height: 100%;
  width: 64px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0; }

.btn-chat-send > img {
  /* height: 70%; */
  margin: 4px auto;
  vertical-align: center; }

.time {
  margin-top: 4px; }

.msg-line {
  float: left;
  width: 100%;
  height: auto;
  background: transparent;
  padding: 0 8px;
  margin: 2px 0; }

.msg-box {
  padding: 4px 12px;
  color: black;
  border-radius: 1em;
  width: auto;
  display: inline-block;
  max-width: 95%;
  margin: 0;
  vertical-align: middle; }

.msg-from {
  background: #F5BBBC;
  text-align: right;
  float: right; }

.msg-to {
  background: #E6E6E6;
  float: left; }

.msg-notif {
  width: 100%;
  text-align: center;
  color: red; }

.btn-option {
  background: #F5BBBC;
  border-color: transparent;
  border-radius: 8px;
  text-align: center;
  padding: 3px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  margin: 10px;
  margin-top: 0; }

.select-rfr {
  margin: 0 10px 10px 10px;
  width: 100%; }

.trade-options {
  vertical-align: top;
  padding: 0;
  float: right;
  display: inline-block;
  margin: auto 0.5% auto 0;
  width: 24%;
  font-size: 1.5em; }

@media screen and (max-width: 774px) {
  .rfr-schedule-container {
    height: 180vh; }
  .scheduler-small {
    width: 100%;
    height: 50%; }
  /**

	.btn-scheduler {
		width: 6.25%;
	}

	.cell-date {
		width: 12.5%;
	}

	.column-day {
		width: 12.5%;
	}

	.column-time {
		width: 12.5%;
	}

	**/
  .rfr-chat {
    margin-top: 0; }
  .rfr-chatbox {
    width: 100%; }
  .trade-options {
    float: none;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px; }
  .btn-option {
    margin-left: 0; }
  .select-rfr {
    margin-left: 0; }
  .form-message {
    width: 75%; } }

/** LISTS PAGE **/
hr {
  border-color: gray;
  margin-bottom: 0;
  margin-top: 10px; }

h2, h3 {
  margin: 15px auto;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center; }

.notification-bubble {
  left: -6px;
  top: -8px;
  position: absolute;
  border-radius: 12px;
  width: 20px;
  padding-top: 2px;
  background: #ff3300;
  text-align: center;
  color: #fff;
  height: 20px;
  font-weight: bold; }

.notification-bubble-tab {
  background: #ff3300;
  left: 10px;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-left: 8px;
  padding-top: 4px; }

.notification-bubble-left-menu {
  background: #ff3300;
  left: 10px;
  top: -1px;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-left: 8px;
  padding-top: 4px; }

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #fff;
  background-color: #ff3300; }

.trades-container {
  height: 130px;
  padding: 0;
  position: relative;
  overflow: hidden; }

#trades-list {
  height: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50pt;
  display: flex;
  flex-direction: row; }

.trade-box {
  height: 165px;
  min-width: 200px;
  margin: 10px 20px;
  margin-right: 0px;
  background: #C9A7CD;
  color: white;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px;
  border-radius: 8px; }

.btn-manage-trade {
  color: #652D91;
  margin: auto;
  width: 95%;
  border-radius: 8px;
  border-width: 0px;
  border-color: transparent;
  background: white;
  vertical-align: bottom;
  font-size: 1.2em; }

.btn-manage-trade:hover {
  color: white;
  background: #652D91; }

.label-box-username {
  font-size: 1.6em;
  margin: auto; }

.label-freq {
  font-size: 1.6em;
  margin: auto; }

.label-ratio {
  font-size: 1.8em;
  margin: 0 auto;
  display: box; }

#search-container {
  width: 100%;
  position: relative; }

#search-inputs {
  width: 100%;
  height: initial;
  position: relative; }

#search-left {
  margin: 0;
  width: 40%;
  display: inline-block;
  vertical-align: top; }

#search-right {
  margin: 0;
  width: 55%;
  display: inline-block;
  vertical-align: top; }

#input-username {
  width: 80%;
  margin: auto;
  margin-left: 10px;
  display: inline-block;
  text-align: center; }

#btn-search {
  background: #F5BBBC;
  border-color: transparent;
  border-radius: 8px;
  padding: 6px 14px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  position: absolute;
  right: 0; }

#select-genre-search {
  width: 25%;
  display: inline-block;
  margin-left: 10px; }

.input-follower-range {
  width: 30%;
  display: inline-block;
  margin: 10px;
  margin-top: 0;
  text-align: center; }

#follower-range {
  width: 80%;
  display: inline-block; }

#search-container {
  height: 120px;
  padding: 0;
  position: relative;
  overflow: hidden; }

#search-results {
  height: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50pt; }

#results-list-back {
  left: 0; }

#results-list-next {
  right: 0; }

.user-box {
  height: 100px;
  min-width: 200px;
  margin: 10px 20px;
  margin-right: 0px;
  background: #C9A7CD;
  color: white;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px;
  border-radius: 8px; }

.label-result-box {
  font-size: 1.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto; }

.btn-open-trade {
  color: #652D91;
  margin: auto;
  width: 95%;
  border-radius: 0px;
  border-width: 0px;
  border-color: transparent;
  background: white;
  vertical-align: bottom;
  font-size: 1.2em;
  border-radius: 8px; }

.btn-open-trade:hover {
  color: white;
  background: #652D91; }

.slide-box {
  margin: 10px 10px; }

.slick-list, .slick-slider {
  margin: 0 4px; }

.artist-nav {
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0; }

.artist-nav .navbar-nav > li > a {
  margin-top: 15px;
  padding: 10px 15px; }

@media screen and (max-width: 436px) {
  #search-left {
    width: 100%; }
  #search-right {
    width: 100%;
    margin: auto; }
  #follower-range {
    width: 100%;
    margin: auto;
    margin-top: 10px; }
  .input-follower-range {
    width: 20%; }
  .user-box {
    width: 140px; }
  .btn-open-trade {
    margin: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 7px;
    left: 7px;
    width: 126px; }
  #btn-search {
    position: relative;
    margin: auto;
    display: block; }
  .trades-container {
    overflow-x: scroll; }
  #search-container {
    overflow-x: scroll; }
  .btn-trades-list {
    display: none; } }

.slick-slider {
  height: 175px !important; }

.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

/*Slick Slider--START*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  /*color: #F7DFAD;*/
  border: none;
  outline: none;
  /*background: #F7DFAD;*/ }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #F5BBBC;
  outline: none;
  background: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #F5BBBC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.marg-top {
  margin-top: 20px; }

.slick-prev {
  left: -15px !important; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -15px !important; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/*Slick Slider--END*/
/* New design css */
* {
  margin: 0px;
  padding: 0px; }

.container-fluid {
  /*	padding-right: 0px !important;
    padding-left: 0px !important;
    height:100% !important;
    margin-top: -31px;*/ }

.tropical {
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  color: #8a8a8a;
  letter-spacing: 1px;
  background-color: #F9F9F9;
  padding: 44px 0;
  font-weight: normal; }

.tropical img {
  width: 45%;
  text-align: center;
  margin: 20px auto; }

/*left-menu css start*/
.left-side {
  /*background-color: #fff;
    min-height:500px;
   height:100%;
	clear: both;
    left: 0px;
    position:fixed;*/
  overflow-y: auto; }

.left-side::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  background: #F9F9F9;
  top: 0;
  margin-top: -40px; }

.left-menus {
  width: auto;
  margin: 0 auto; }

.left-menus ul li {
  padding: 0px 0px;
  /* background-color: #ECECEC; */
  margin: 2px 0;
  border-right: 2px solid #fff; }

.left-menus ul li a {
  color: #5c5252;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 20px 0px; }

.left-menus ul li a:hover {
  background: none; }

.left-menus ul li:active {
  border-right: 2px solid #959595; }

.left-menus ul li:hover, .left-menus ul li:active, .left-menus ul li:focus {
  border-right: 4px solid #959595; }

.logout {
  color: #686868;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #F5D3B5;
  padding: 0 14px;
  border-radius: 3px;
  height: 39px;
  margin-right: 10px; }

.left-menu-active {
  border-right: 4px solid #959595 !important; }

.logout li {
  list-style: outside none none;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin-bottom: 50px; }

.logout li a {
  color: #686868;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase; }

.logout li a:hover {
  text-decoration: none; }

/*Left-menu Css END*/
/* New design css END */
/*right-side css start*/
.right-side {
  /*width: 100%;
    float: right;*/ }

.page-header {
  text-align: right;
  margin: 0 0 !important;
  border-bottom: 0px !important;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  top: 0px;
  position: fixed;
  height: 50px; }

.page-header ul li {
  display: inline-block; }

.page-header ul li img {
  width: 35%; }

.page-header nav ul {
  padding: 5px 0;
  margin: 0; }

.page-content {
  background-color: white;
  /*width: 97%;*/
  margin: 0px 20px 0px 10px;
  border-top-left-radius: 12px;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 12px; }

.page-content li {
  margin-bottom: -1px;
  color: #555;
  padding: 0px 0px;
  /* width: 50%;*/ }

.page-content li img {
  display: inline-table;
  width: 8%;
  padding: 11px 0px;
  width: 40px;
  margin: 0 20px; }

.tab-content {
  margin: 0 0 0px 0;
  padding: 0 0px;
  color: #828282;
  font-size: 12px;
  letter-spacing: 1px; }

.nav-tabs {
  padding: 0px 0;
  border: 0px solid !important; }

.nav-tabs span {
  cursor: pointer; }

.nav-tabs span.active {
  background-color: #ddd; }

.nav-pills > li {
  background-color: #eee;
  color: #000; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #fff;
  color: #000; }

.nav-tabs span a {
  color: #707070;
  font-size: 12px;
  font-weight: normal;
  padding: 0 48px; }

.nav-tabs img {
  width: 90%; }

.nav-tabs .nav > li {
  width: 50%;
  display: inline-table;
  margin: 0px;
  text-align: center; }

.nav-tabs .nav > li > a {
  display: inline-block;
  color: #8C8989;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  margin: 0px;
  outline: 0;
  border-radius: 0 !important; }

.nav-tabs .nav > li > a:hover {
  color: #8C8989; }

.manag-trades div {
  width: 100%; }

.manag-trades h5 {
  color: #727272;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 15px; }

.manag-trades .span-time {
  margin: 16px 0;
  font-size: 28px;
  display: inline-block;
  color: #82828a;
  font-weight: normal; }

.manage-text {
  width: 100%;
  margin: 10px 0; }

.btn-tabe {
  background-color: #ff7676;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  display: block;
  left: 88px;
  padding: 10px 20px;
  position: absolute;
  top: 75px;
  width: 27%; }

.thumb-img-container {
  position: relative;
  /* margin: 0 auto; */
  padding: 0 !important; }

.thumb-img-container:hover .img-btn {
  display: block; }

.img-btn {
  background-color: #FF7676;
  display: none;
  padding: 8px 9px;
  color: #FFF;
  position: absolute;
  z-index: 999;
  left: 0;
  border-radius: 8px;
  border: 0px none;
  top: 0;
  margin-top: 52px;
  margin-left: 14px; }

/*Range css start*/
.range-main {
  width: 80%;
  /*margin: 0 auto;*/
  margin: 0 0 0 24%;
  text-align: left; }

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod; }

input[type=range]:focus::-ms-fill-lower {
  background: #888; }

input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }

/*Range css End*/
/*Genres css start*/
.label-group {
  margin: 0 0 15px 0;
  splay: inline-block; }

.width_42 {
  width: 100%; }

/*Genres css End*/
/*.scroll-bar1{ 
	height: 100%;
	margin-top: 0;
    overflow-x: hidden;
	overflow-y: auto;
	padding-left: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	padding-top: 300px;
	width: 100%;
	right: 0;
	padding-right: 35px;
}
.scroll-bar2{ 
    overflow-y: auto;
    overflow-x: hidden;
	height:380px;
	background-color: #F9F9F9;
	margin: 15px auto;
	padding:0 20px;
}*/
.slide-img-box {
  margin: 0px 0;
  display: inline-block;
  padding: 0 10px; }

.slide-img-box div {
  /* padding: 20px 20px; */
  padding: 0 0 0 5%; }

.slide-img-box p {
  padding: 10px 0 0; }

.slide-img-box img:hover.btn-tabe {
  display: block !important; }

.tab-content .form-group {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px; }

.tab-content .form-group .form-control {
  padding: 0 3;
  height: 50px;
  margin-left: 18px; }

.sortby {
  /*width: 20%;
    display: inline-block;
    margin:0 0 35px 0;*/ }

.sortby span {
  width: 15%;
  display: inline-flex; }

.sortby span select {
  border: navajowhite;
  width: 86px;
  box-shadow: none; }

/*select css*/
.selectWidth {
  width: auto;
  margin: 10px; }

/*right-side css end*/
.padding0 {
  padding: 0px !important; }

.left-right0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

#logo {
  width: 7%;
  margin: 0 25px; }

.manage-trade-items {
  width: 50% !important; }

/*Artist-login css start*/
.artist-login {
  width: 100%;
  padding: 15px;
  margin: 55px auto; }

.artist-login h3 {
  letter-spacing: 1px;
  font-size: 17px;
  color: #303030; }

.artist-login p {
  margin-bottom: 50px;
  font-size: 12px;
  letter-spacing: 1px; }

.artist-login span {
  text-align: center;
  display: inline-block;
  margin: 0px auto 0 auto; }

/*Artist-login css start*/
/*For re css*/
.border-bottom {
  border-bottom: 1px solid #EDEDED; }

.border-top {
  border-top: 1px solid #EDEDED; }

.border-right {
  border-right: 1px solid #EDEDED; }

.padding30 {
  padding: 30px 0; }

.margin0 {
  margin: 0; }

/*For re css end*/
/*Search Box scss--START*/
.input-group .icon-addon .form-control {
  border-radius: 0; }

.icon-addon {
  position: relative;
  color: #555;
  display: block; }

.icon-addon:after, .icon-addon:before {
  display: table;
  content: " "; }

.icon-addon:after {
  clear: both; }

.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
  position: absolute;
  right: 2px;
  cursor: pointer;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 9px 6px;
  top: 9px;
  background: #FFFFFF; }

/*Search Box scss--END*/
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .page-content {
    margin: 0 auto; }
  .range-main {
    margin: 38px auto; }
  .slidethamb-box {
    margin: 0px auto !important;
    padding: 0px !important;
    display: inline-block;
    width: 100%;
    text-align: center; }
  .slidethamb-box img {
    width: 50%;
    margin: 0 auto; }
  .nav-tabs .nav > li {
    width: 100%; }
  .tropical {
    padding: 0; }
  .left-menus ul li {
    padding: 0px 10px; } }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .range-main {
    margin: 10px auto;
    width: 80%; } }

.min-ht {
  min-height: 650px; }

.span-time {
  font-size: 50px;
  line-height: 100px;
  font-weight: 300; }

.manage-trade-thumb {
  position: relative; }

.manage-trade-thumb:hover .manage-btn {
  display: block; }

.manage-btn {
  background-color: #FF7676;
  display: none;
  padding: 8px 19px;
  color: #FFF;
  position: absolute;
  z-index: 999;
  left: 0;
  border-radius: 8px;
  border: 0px none;
  top: 0;
  margin-top: 55px;
  margin-left: 55px; }

.manage-trade-thumb:hover .manage-delete-btn {
  display: block; }

.manage-delete-btn {
  background-color: #FF7676;
  display: none;
  padding: 8px 20px;
  color: #FFF;
  position: absolute;
  z-index: 999;
  left: 0;
  border-radius: 8px;
  border: 0px none;
  bottom: 60px;
  margin-left: 55px; }

.sort-btn {
  margin-right: 20%; }

.sort-select {
  border-radius: 5px;
  background: url(assets/images/down-arrow.png) no-repeat right transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  padding-right: 30px;
  cursor: pointer;
  background-size: 25px;
  color: #333;
  font-size: 14px;
  border: 1px solid #F5D3B5; }

.sort-select:hover {
  background-color: #fff;
  border-color: #204d74;
  color: #333; }

.sort-select:focus {
  background-color: #fff;
  border-color: #122b40;
  color: #333; }

.sort-select:active {
  color: #333;
  background-color: #fff;
  border-color: #204d74; }

.sort-select:active:hover, .sort-select.active:hover, .open > .dropdown-toggle.sort-select:hover, .sort-select:active:focus, .sort-select.active:focus, .open > .dropdown-toggle.sort-select:focus, .sort-select.focus:active, .sort-select.active.focus, .open > .dropdown-toggle.sort-select.focus {
  color: #333;
  background-color: #fff;
  border-color: #122b40; }

.height-100pr {
  /*height:100%;*/
  min-height: 400px; }

.ascending {
  background: transparent url(assets/images/sorting-up.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 94%; }

.descending {
  background: transparent url(assets/images/sorting-down.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 94%; }

.ngrs-runner {
  background: transparent url(assets/images/range-line.png);
  background-repeat: repeat-x;
  background-position: 200px; }

.inner-head .nav > li > a {
  padding: 10px 0;
  margin: 0px; }

.inner-head .nav > li > a:hover, .inner-head .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

.ngrs-range-slider {
  margin-bottom: 10px; }

.nav-pills > li > a {
  border-radius: 0; }

.inner-head .menu-bar {
  display: none; }

@media (max-width: 767px) {
  .inner-head .menu-bar {
    display: block; } }

/************ SIDEBAR START *****************/
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%; }

/*#wrapper.toggled {
    padding-left: 240px;
}*/
#sidebar-wrapper {
  position: fixed;
  left: 240px;
  width: 0;
  height: 100%;
  margin-left: -240px;
  /*overflow-y: auto;*/
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1043; }

#sidebar-wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  background: #F9F9F9;
  top: 0;
  margin-top: -40px; }

#wrapper.toggled #sidebar-wrapper {
  width: 210px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 240px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/************ SIDEBAR END*****************/
/********* NEW **************/
.tab-menu {
  z-index: 51;
  position: relative;
  background: #fff; }

.manage-bar {
  z-index: 51;
  position: relative;
  background: #fff; }

/*.right-side::before {
	position: absolute;
	content: '';
	width: 98%;
	height: 40px;
	background: transparent url(assets/images/bg-line.png);
	top: -40px;
	left: 0;
	background-repeat: repeat;
	background-size: 12px;
	z-index: 1;
}*/
.scroll-hide {
  overflow: hidden; }

.main-scroll-body {
  overflow-y: scroll;
  height: 100%;
  top: 0;
  position: absolute;
  padding-top: 90px;
  width: 100%;
  overflow-x: hidden; }

.main-scroll-body .pad-right {
  margin-right: 24px; }

.question-btn {
  float: right;
  margin: 10px 30px;
  z-index: 1;
  position: relative; }

/*********** Media CSS **************/
@media screen and (max-width: 1280px) {
  .min-ht {
    min-height: 800px; }
  .main-scroll-body .pad-right {
    margin-right: 40px; }
  .question-btn {
    margin: 10px 50px; } }

@media screen and (max-width: 1024px) {
  /*.scroll-bar1 {
		padding-right: 55px;
		padding-top: 290px;
	}*/
  .manage-btn {
    margin-top: 25px;
    margin-left: 15px; }
  .manage-delete-btn {
    bottom: 20px;
    margin-left: 15px; }
  .slide-img-box div {
    padding: 0 0 0 2%; }
  .ZebraDialog {
    width: 600px !important;
    left: 32% !important; }
  .min-ht {
    min-height: 1024px; } }

@media screen and (max-width: 980px) {
  .manage-btn {
    margin-top: 65px;
    margin-left: 52px; }
  .manage-delete-btn {
    bottom: 48px;
    margin-left: 55px; } }

@media screen and (max-width: 800px) {
  .left-menus ul li a {
    padding: 20px; } }

@media screen and (max-width: 768px) {
  .manage-btn {
    margin-top: 60px;
    margin-left: 50px; }
  .manage-delete-btn {
    bottom: 50px;
    margin-left: 50px; }
  .img-btn {
    margin-left: 66px; }
  /*.scroll-bar1 {
		padding-top: 340px;
	}*/
  .nav-tabs .nav > li {
    width: 50%; }
  .ZebraDialog {
    left: 279px !important;
    top: 201px !important;
    width: 450px !important; }
  .left-menus ul li a {
    padding: 20px 10px; }
  .rfr-chat {
    margin-top: 70px; }
  .main-scroll-body .pad-right {
    margin-right: 40px; }
  .question-btn {
    margin: 10px 50px; } }

@media screen and (max-width: 667px) {
  .img-btn {
    margin-left: 264px; } }

@media screen and (max-width: 640px) {
  .page-header ul li {
    float: left; }
  .page-header ul li {
    float: left;
    padding: 0 9px; }
  .inner-head {
    float: right; }
  .inner-head .navbar-nav {
    margin: 0; }
  .page-header ul li img {
    width: 22px; }
  .img-btn {
    margin-left: 252px; } }

@media screen and (max-width: 600px) {
  /*.scroll-bar1 {
		padding-top: 460px;
		padding-left: 30px;
	}*/ }

@media screen and (max-width: 480px) {
  .img-btn {
    margin-left: 174px; } }

@media screen and (max-width: 375px) {
  /*.scroll-bar1 {
		padding-top: 465px;
		padding-right: 38px;
		padding-left: 40px;
	}*/
  .img-btn {
    margin-left: 121px; }
  .page-header ul li {
    float: left; }
  .page-header ul li {
    float: left;
    padding: 0 9px; }
  .inner-head {
    float: right; }
  .inner-head .navbar-nav {
    margin: 0; }
  .page-header ul li img {
    width: 22px; }
  .ZebraDialog {
    left: 0 !important;
    top: 20% !important;
    width: 100% !important; }
  .nav-tabs .nav > li {
    width: 100%; }
  .slot-box {
    width: 375px;
    margin: 10px auto; }
  .btn-enter {
    padding: 14px 20px;
    margin: 0; }
  .left-menus ul li a {
    padding: 15px 10px; }
  .slot-date {
    margin-bottom: 20px; }
  .scheduler-small {
    margin-top: 30px; }
  .label-username {
    height: initial; }
  .rfr-chat {
    margin-top: 160px; }
  .main-scroll-body .pad-right {
    margin-right: 40px; }
  .question-btn {
    margin: 10px 50px; } }

@media screen and (max-width: 360px) {
  .img-btn {
    margin-left: 114px; }
  .nav-tabs .nav > li {
    width: 100%; }
  .slot-box {
    width: 360px;
    margin: 10px auto; }
  .left-menus ul li a {
    padding: 15px 10px; }
  .slot-date {
    margin-bottom: 30px; }
  .scheduler-small {
    margin-top: 30px; }
  .label-username {
    height: initial; }
  .main-scroll-body .pad-right {
    margin-right: 40px; }
  .question-btn {
    margin: 10px 50px; } }

@media screen and (max-width: 320px) {
  .img-btn {
    margin-left: 95px; }
  .page-header ul li {
    padding: 0 5px; }
  .left-menus ul li a {
    padding: 15px 10px; }
  .ZebraDialog {
    left: 2% !important;
    top: 18% !important;
    width: 307px !important; }
  .slot-box {
    width: 320px;
    margin: 10px auto; }
  .cl-sound-btn {
    padding: 13px 4px; }
  .slot-date {
    margin-bottom: 40px; }
  .scheduler-small {
    margin-top: 20px;
    margin-bottom: 30px; }
  .label-username {
    height: initial; }
  .main-scroll-body .pad-right {
    margin-right: 40px; }
  .question-btn {
    margin: 10px 50px; } }

/** MEDIA CSS END **/
.padding-10 {
  padding: 10px; }

.btn {
  margin-bottom: 5px; }

.cl-sound-btn {
  margin-top: 50px; }

.chat-input {
  height: 38px; }
