<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container" ng-init="getDownloadList();checkIfSubmission()">
  <div class="content-area bg-white">
  	<ng-include src="'js/home/views/artistTools/navigation.html'"></ng-include>
  	<div class="row">
	  	<div class="col-md-12 text-center">
	      <a href="#" class="btn btn-enter" ui-sref="artistTools.downloadGateway.new">Add New</a>
	    </div>
	  </div>
	  <div class="row">
	    <table class="table">
		    <thead>
		      <tr>
		        <th>Track Title</th>
		        <th>Artist Username</th>
		        <th>Download Count</th>
		        <th>Action</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="item in downloadGatewayList">
		        <td><a ng-href="/download?trackid={{item._id}}" target="_blank">{{item.trackTitle}}</a></td>
		        <td>{{item.artistUsername}}</td>
		        <td>{{item.downloadCount ? item.downloadCount : 0}}</td>
		        <td>
		        	<a href="#" ui-sref="artistTools.downloadGateway.edit({ gatewayID: item._id})" ui-sref-opts="{reload: true}">Edit</a><span> | </span>
		        	<a href="#" ng-click="deleteDownloadGateway($index)">Delete</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
	  </div>
	</div>
</div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>

<script type="text/ng-template" id="thankYou.html">
  <div class="modal-header">
    <h3 class="modal-title">Thank You</h3>
    <p>Thank you for creating a download link! You now have a 15% discount. 
    <br><br>
    Click “Continue” to finish the checkout.</p>
  </div>
  <div class="modal-body">
		<button class="btn btn-danger" type="button" ng-click="$parent.closeModal()">Close</button>
		<a class="btn btn-success pull-right" ui-sref="pay({ submissionID: $parent.thankYouModal.submissionID })">Continue</a>
  </div>
</script>