<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container" ng-init="showProfileInfo()">
  <div class="content-area bg-white">
  	<ng-include src="'js/home/views/artistTools/navigation.html'"></ng-include>
	  <div class="row">
     	<div class="col-md-8 col-md-offset-1">
			  <div class="row">
			  <table cellpadding="10" cellspacing="10" width="40%">
			  	<tr>
			  		<td class="bold">Name:</td>
			  		<td>{{profile.name}}</td>
			  		<td><a href="#" ng-click="openEditProfileModal.editProfile('name')"> Edit</a></td>
			  	</tr>
			  	<tr>
			  		<td class="bold">Email:</td>
			  		<td>{{profile.email}}</td>
			  	</tr>
			  	<tr>
			  		<td class="bold">Password:</td>
			  		<td></td>
			  		<td><a href="#" ng-click="openEditProfileModal.editProfile('password')">Edit</a></td>
			  	</tr>
			  </table>
     	</div>
	  </div>
	</div>
</div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>

<script type="text/ng-template" id="editProfile.html">
	<form role="form" ng-submit="$parent.saveProfileInfo()">
	  <div class="modal-header">
	   	<div class="form-group" ng-show="$parent.profile.field === 'name'">
	    	<input type="text"  class="form-control" ng-model="$parent.profile.name" placeholder="Name"  />
	    </div>
	    <div class="form-group" ng-show="$parent.profile.field === 'password'">
	    	<input type="text" class="form-control" ng-model="$parent.profile.password" placeholder="Password"  />
	    </div>
	  </div>
	  <div class="modal-body">
	  	<button class="btn btn-success" type="submit">Save</button>
			<button class="btn btn-warning" type="button" ng-click="$parent.closeEditProfileModal()">Close</button>
	  </div>
  </form>
</script>