<style>
	body {
		margin: 0;
		padding: 20px 20px;
	}
</style>
<a href="#" class="question-btn"><img class="img-responsive" width="25px" ng-click="openHelpModal()" src="assets/images/question_icon.png"></a>
<div class="content-area bg-white pad-right" style="padding: 1% 2%; margin-top:-70px;" ng-init="getTrackListFromSoundcloud()">
	<div class="rfr-schedule-container" ng-init="getMessage();getTrackListFromSoundcloud();">
		<!-- schedule 1 -->
		<div class="scheduler-small" id="{{getSchedulerID(trade.p1.user._id)}}">
			<div class="label-username"><a target="_blank" href="{{trade.p1.user.soundcloud.permalinkURL}}">{{trade.p1.user.soundcloud.username}}</a> <span style="color:#ADD8E6">( {{trade.p1.slots.length}} slots )</span><span ng-if="followerShow()"> - {{trade.p1.user.soundcloud.followers | number:0}} followers </span></div>
			<div style="text-align:center; width:100%; height: 94%; margin: auto;">
				<div class="row-small slot-date" style="width:100%; height: 6%; display:flex; flex-direction:row; ">
					<button class="btn btn-default btn-scheduler" ng-click="decrp1()"><img style="margin-right:-4px;" src="/assets/images/arrow-left.png"/></button>
					<div class="bold cell-date" ng-repeat="t in [0,1,2,3,4,5,6]" style="line-height:27px !important">
						{{dayOfWeekAsString(calendarp1[t+p1dayIncr].day).substring(0,3)}} {{calendarp1[t+p1dayIncr].day.getMonth()+1}}/{{calendarp1[t+p1dayIncr].day.getDate()}}
					</div>
					<button class="btn btn-default btn-scheduler" ng-click="incrp1()" ><img src="/assets/images/arrow-right.png"/></button>
				</div>
				<div style="width:100%; height:96%; display:flex; flex-direction:row;">
					<div class="column-time">
						<div ng-repeat="i in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16', '17', '18', '19', '20', '21', '22', '23']" class="cell-time bold row-small">{{i}}</div>
					</div>   
					<div ng-repeat="l in [0,1,2,3,4,5,6]" class="column-day">
						<div ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-style="getStyle(calendarp1[l+p1dayIncr].events[p])" class="row-scheduler row-small" ng-click="clickedSlot(calendarp1[l+p1dayIncr].day, l+p1dayIncr, p, calendarp1, trade.p1, calendarp1[l+p1dayIncr].events[p])" style="position:relative;">
							<div ng-if="showBoxInfo(calendarp1[l+p1dayIncr].events[p])">
								<span>{{calendarp1[l+p1dayIncr].events[p].title}}</span>
								<img ng-if="unrepostSymbol(calendarp1[l+p1dayIncr].events[p])" class='unrepost-symbol' src="assets/images/unrepost_symbol.png"></img>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- schedule 2 -->
		<div class="scheduler-small" id="{{getSchedulerID(trade.p2.user._id)}}">
			<div class="label-username"><a target="_blank" href="{{trade.p2.user.soundcloud.permalinkURL}}">{{trade.p2.user.soundcloud.username}}</a> <span style="color:#ADD8E6">( {{trade.p2.slots.length}} slots )</span><span ng-if="followerShow()"> - {{trade.p2.user.soundcloud.followers | number:0}} followers </span> </div>
			<div style="text-align:center; width:100%; height: 94%; margin: auto; @media screen and (max-width: 436px) {height: 88%};">
				<div class="row-small slot-date" style="width:100%; height: 6%; display:flex; flex-direction:row; ">
					<button class="btn btn-default btn-scheduler" ng-click="decrp2()"><img style="margin-right:-4px;" src="/assets/images/arrow-left.png"/></button>
					<div class="bold cell-date" ng-repeat="t in [0,1,2,3,4,5,6]" style="line-height:27px !important">
						{{dayOfWeekAsString(calendarp2[t+p2dayIncr].day).substring(0,3)}} {{calendarp2[t+p2dayIncr].day.getMonth()+1}}/{{calendarp2[t+p2dayIncr].day.getDate()}}
					</div>
					<button class="btn btn-default btn-scheduler" ng-click="incrp2()" ><img src="/assets/images/arrow-right.png"/></button>
				</div>
				<div style="width:100%; height:96%; display:flex; flex-direction:row;">
					<div class="column-time">
						<div ng-repeat="i in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16', '17', '18', '19', '20', '21', '22', '23']" class="cell-time bold row-small">{{i}}</div>
					</div>   
					<div ng-repeat="l in [0,1,2,3,4,5,6]" class="column-day">
						<div ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-style="getStyle(calendarp2[l+p2dayIncr].events[p])" class="row-scheduler row-small" ng-click="clickedSlot(calendarp2[l+p2dayIncr].day, l+p2dayIncr, p, calendarp2, trade.p2, calendarp2[l+p2dayIncr].events[p])" style="position:relative;">
							<div ng-if="showBoxInfo(calendarp2[l+p2dayIncr].events[p])">
								<span>{{calendarp2[l+p2dayIncr].events[p].title}}</span>
								<img ng-if="unrepostSymbol(calendarp2[l+p2dayIncr].events[p])" class='unrepost-symbol' src="assets/images/unrepost_symbol.png"></img>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--CHAT-->
	<div class="rfr-chat">
		<div class="rfr-chatbox">
			<div class="convo-display" scroll-glue>
				<div ng-repeat="msg in msgHistory track by $index" class="msg-line">
					<time-slot start-date="{{msgHistory[0].date}}" each-date="{{msg.date}}" previous-date="{{msgHistory[$index-1].date}}" ></time-slot>
					<div ng-show="msg.type== 'alert'" class="alert-box">
						{{msg.text}}
					</div> 
					<div ng-show="msg.type== 'message'" class="msg-box {{msg.senderId==user._id ? 'msg-from' : 'msg-to'}}">
						{{msg.text}}
					</div>
				</div>
			</div>
			<div class="chat-input">
				<form name="chat" ng-submit="emitMessage(message, 'message')" >
					<input type="text"class="form-control form-message" ng-model="message"></input>
					<button type="submit" class="btn btn-default btn-chat-send" style="margin-bottom:0px !important;" ng-disabled="!message"><img src="/assets/images/send-plane.png"/></button>
				</form>
			</div>
		</div>
		<div class="trade-options">
			<select class='form-control select-rfr' name='tradeIndex' ng-model='tradeIndex'  ng-change="changeTrade(tradeIndex)">
				<option ng-repeat="trade in currentTrades track by $index" value="{{$index}}">{{trade.other.user.name}}</option>
			</select>
			<span style="text-align:center; margin:10px; margin-top:0px; width:100%; display:inline-block;" ng-if="user.accepted">You accepted this trade. Waiting for the other user.</span>
			<button ng-if="!user.accepted" class="btn btn-default btn-option" ng-style="user.accepted?{'background-color':'gray'}:{}" ng-click="accept()">Accept</button>
			<button class="btn btn-default btn-option" ui-sref="reForReLists">Exit</button>
			<button class="btn btn-default btn-option" ng-click="email()">Email</button>
		</div>
	</div>

	<!-- overlay -->
	<div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.85); text-align:center;" ng-show="showOverlay">
		<div class="label-scheduler label-smaller" style="width: 500px; background-color: white; margin: 100px auto; padding: 50px 0; max-width:95%;  border-radius:8px; text-align:center;">
			<span style="font-size:1.25em">{{makeEvent.day.toLocaleDateString()}}     {{(makeEvent.day.getHours()%12==0?12:makeEvent.day.getHours()%12)+(makeEvent.day.getHours()<=11?"AM":"PM")}}</span><br><br>
			<div ng-if=" makeEvent.type=='trade' && makeEvent.person.user._id != user._id || makeEvent.type=='traded'">
				<input class="form-control" style="width:200px; max-width:90%; margin:0 auto;" type="text" placeholder="Soundcloud Url" ng-model="makeEvent.URL" ng-change="changeURL()"/>
				<span style="font-size:.8em;" ng-if="makeEvent.type=='trade'">(can leave blank)</span><br>
				<select class="form-control form-scheduler" ng-model="makeEvent.trackListObj" ng-options="item.title for item in trackList" style="text-align:center; width:300px; max-width:90%;" ng-change="trackListChange()">
					<option value="" ng-disabled="!!trackListObj" ng-show="trackList.length > 0">-My Songs-</option>
				</select><br>
			</div>
			<input type="checkbox" ng-model="makeEvent.unrepost" ng-change="changeUnrepost()" ng-disabled="makeEvent.type == 'traded'"/><span class="label-smaller" style="font-size:0.8em;"> Unrepost after 24h</span><br><br>
			<div id='scPlayer' class="player" ng-show="makeEvent.trackID"></div>
			<br>
			<div>
				<button class="btn btn-default btn-small btn-overlay" ng-click="backEvent()">Back</button>
				<button class="btn btn-default btn-small btn-overlay" ng-click="deleteEvent()" ng-if="makeEvent.type=='trade'">Delete</button>
				<button class="btn btn-default btn-small btn-overlay" ng-click="saveEvent()" ng-if="makeEvent.type=='trade' || makeEvent.owner == user._id">Save</button>

				<br><br>
				<!-- <button ng-click="emailSlot()" style="border:none; background-color:rgba(0,0,0,0);"><img src='assets/images/email_icon.png' style="height:30px; width:50px;"></button> -->
			</div>
		</div>
	</div>
	<div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,1); z-index: 1000;" ng-show="hideall">
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="autoFillTrack" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content">
				<div style="text-align:center; padding:10px;">
					<p>You need to add an auto-fill track incase unfilled slots are accepted. Autofill tracks will automatically be reposted in unfilled slot that you traded for.</p>
				</div>
				<div style="text-align:center;padding-bottom:10px;">
					<input class="form-control form-scheduler" placeholder="Soundcloud Track Url" style="text-align:center; width:300px; max-width:90%;" type="text" ng-model="newQueueSong" ng-change="changeQueueSong()"/>
					<select class="form-control form-scheduler" ng-model="trackListObj" ng-options="item.title for item in trackList" style="text-align:center; width:300px; max-width:90%;" ng-change="trackListChange()">
						<option value="" ng-disabled="!!trackListObj" ng-show="trackList.length > 0">-My Songs-</option>
					</select>           
					<a ng-if='newQueue' href="{{newQueue.permalink_url}}" target="_blank" style="color:#000;"><img class="avatar" ng-src="{{newQueue.artwork_url}}">{{' ' + newQueue.title}}</a><br>
					<button class="btn btn-default btn-small" id="closeModal" ng-click="addSong()">Add</button>
				</div>
			</div>      
		</div>
	</div>
	<!-- loader -->
	<ng-include src="'js/home/views/loader.html'"></ng-include><script type="text/javascript">
