<div style="text-align:center; margin-top:-80px;">
	<div>
	  <h2 style="display:inline;text-align:center">Admin</h2>
	</div>
	</br>
	<ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
	</br>
	<div>
	  <h3 style="text-align:center">Accounts</h3>
  	<div style="width:80%; text-align:left; margin: 10px auto;">
      <div class="col-md-12">
        <div class="row">
          <div class="row nav-tabs margin0">
            <div class="col-md-12 bg-white">
              <div class="text-center">
                <button class="btn btn-enter cl-sound-btn" ng-click="soundcloudLogin()">Connect with SoundCloud</button>
              </div>
              </br>
              <hr>
              </br>
              <table class="table">
                <thead>
                  <tr>
                    <th width="60%">User Name</th>
                    <th width="30%">Followers</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>               
                  <tr ng-repeat="item in user.paidRepost">
                    <td><a href="{{item.permalinkURL}}" target="_blank" >{{item.username}}</a></td>
                    <td>{{item.followers}}</td>
                    <td><a href="javascript:void(0);" style="color:black" class="btn btn-secondary btn-action" ng-click="deletePaidRepost($index)">Delete</a><span>&nbsp;&nbsp;</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
<ng-include src="'js/home/views/loader.html'"></ng-include>