<style type="text/css">
  .disNone{
    display:none;
  }
  .glyphicon{
    cursor: pointer;
  }
  .pink {
    background-color:#FFC0CB;
    color:#000000 !important;
  }
.white {
    background-color: #FFFFFF;
    color: #000000 !important;
}
  .borderless td, .borderless th {
    border: none !important;
  }
</style>
<ng-include src="'js/home/views/_adminHeaderNavigation.html'"></ng-include>
<div id="wrapper">
	<ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
  <div class="container-fluid height-100pr">
    <div class="row height-100pr">
      <div class="col-lg-12">
        <div class="page-content right-side min-ht padding-10">
          <div class="container-90">
            <div class="row">
              <div class="col-md-12">
                <div class="organize-list">
                  <br>                           
                  <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                      <!-- <button class="btn decline">DECLINE</button> -->
          </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <button class="btn decline" ui-sref="channelstep1">+&nbsp;ACCOUNT</button>
          </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="">
                       <!--  <div class="icon-addon addon-md">
                          <input placeholder="Search by URL" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="txtSearchByArtistURL" ng-model="searchURL" style="" type="text">
                          <label for="txtSearchByArtistURL" class="organize-label glyphicon glyphicon-search" rel="tooltip" title="Search by URL" ng-click="searchCurrentTrade()"></label>
                        </div> -->
                              </div>
                            </div>
                          </div>
                  <br><br>
                  <div class="row" ng-repeat="userdata in paidRepostAccounts">
                    <div class="border-padding" style="padding-bottom:115px;">
                      <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="thumb-img-container">
                         <div class="organize-thumb-img">
                           <img src="{{userdata.user.avatarURL}}" class="responsive">
                         </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="margin-top-4">
                          <p><strong>{{userdata.user.username}}</strong></p>
                          <p>{{userdata.user.followers}} Followers</p>
                          <p>Added <time am-time-ago="user.createdOn"></time></p>
                        </div>
                      </div>                                                             
                      <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                        <div class="price-box margin-20">
                            <span style="position: relative;">Price for each repost: $<input type="" name="" placeholder="price" class="price-input" ng-model="userdata.price" ng-blur="editprice($index, userdata)"></span>
                            <p class="small-text" style="font-size:11px; color:#c2c2c2;">Recommended: 1$ for every 3,000 followers
                            60,000 followers  =  $20</p>       
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-6 col-xs-8" style="padding-top:40px;">
                       <a href="" style="color:red">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="deletePaidRepost($index)" style="color:red">Delete</a>
                      </div>
                    </div>
                  </div> 
                  <br>                                                                           
                </div>
                        </div>
                        </div>                    
                       </div> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>