<ng-include src="'js/home/views/_adminHeaderNavigation.html'"></ng-include>
<div id="wrapper">
  <ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
    <div class="container-fluid height-100pr">
        <div class="row height-100pr">
            <div class="col-lg-12">
                <div class="page-content right-side min-ht padding-10">
              <div class="text-center">
                <button class="btn btn-enter cl-sound-btn" ng-click="soundcloudLogin()">Connect with SoundCloud</button>
              </div>
              </br>
              <hr>
              </br>
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">User Name</th>
                    <th width="20%">Followers</th>
                    <th width="20%">Group</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>               
                  <tr ng-repeat="item in user.paidRepost">
                    <td><a href="{{item.permalinkURL}}" target="_blank" >{{item.username}}</a></td>
                    <td>{{item.followers}}</td>
                    <td><input type="text" class="form-control" ng-blur="updateGroup(item);" ng-model="item.group"/></td>
                    <td align="right"><a href="javascript:void(0);" style="color:black" class="btn btn-secondary btn-action" ng-click="deletePaidRepost($index)">Delete</a><span>&nbsp;&nbsp;</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>