<div style="text-align:center" ng-init="loadSubmissions()">
  <!-- <h2>Submissions</h2>
  <h3>Master Password:</h3>
  <input type="password" ng-model="password">
  <br>
  <button ng-click="login()">Login</button>
  <br>
  <br> -->
  </br>
  <div>
    <h2 style="display:inline;text-align:center">Admin</h2>
    <button style="float:right;margin: 20px 20px 0 0" ng-click="logout()">Logout</button>
    <div style="clear:both"></div>
  </div>
  </br>
  <div class="nav">
    <span style="padding: 0 10px"><a ui-sref="submitSong">Home</a></span>
    <span style="padding: 0 10px"><a ui-sref="admin">Admin</a></span>
    <span style="padding: 0 10px"><a ui-sref="database">Database</a></span>
    <span style="padding: 0 10px"><a ui-sref="autoEmails">Auto Emails</a></span>
  </div>
  </br>
  <!-- <button ng-click="manage()" ng-if="showSubmissions">Manage Channel</button> -->
  <button ng-click="manage()">Manage Channel</button>
  <br>
  <br>
  <!-- <div ng-if="showSubmissions"> -->
  <div>
    <h3 style="text-align:center">Submissions</h3>
    <div style="width:80%; text-align:center; margin: 10px auto;">
      <div ng-repeat="sub in submissions"  ng-if="sub.invoiceIDS.length == 0" style="padding:10px 150px; margin:10px 10px; background-color: gray; height:300px">
        <h4>Name: {{sub.name}} ----- Email: {{sub.email}}</h5>
        <div id="{{sub.trackID}}player" style="display:inline-block; width:80%; background-color:gray; height:150px;"></div>
        <div style="display:inline-block; width: 19%; height:150px; vertical-align: top;">
          <button ng-click="ignore(sub)" style="width:95%; height: 45px; margin: 0 0; background-color:yellow; font-size:2em">Ignore</button>
          <button ng-click="decline(sub)" style="width:95%; height: 45px; margin: 7px 0; background-color:red ; font-size:2em">Decline</button>
          <button ng-click="save(sub)" style="width:95%; height: 45px; margin: 0 0; background-color:#67f967 ; font-size:2em">Save</button>
        </div>
        <div style="display:flex; flex-direction:row; flex-wrap: wrap; justify-content:space-around; width:100%; height: 20px;">
          <div ng-repeat="chan in channels" style="margin:5px 5px; padding:5px 5px; background-color: #D3D3D3; height:30px;">
            <span>{{chan.displayName}} - ${{chan.price}}</span>
            <input type="checkbox" ng-model="sub[chan.displayName]" ng-change="changeBox(sub, chan) "/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.9); text-align:center; z-index:1" ng-show="processing">
  <h1 style="font-color:white; margin-top:400px; z-index:2">Processing...</h1>
</div>