<style type="text/css">
  .modal-backdrop {
   background-color: transparent;
}
</style>
<div class="modal" id="{{handler}}" role="dialog">
    <div class="modal-dialog" style="width: 450px;">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share Your Link</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input id="foo" class="form-control" ng-if="eventType == 'share'" value="{{origin}}/repostevents?id={{eventId}}">
            <input id="foo" class="form-control" ng-if="eventType == 'remind'" value="{{origin}}/artistTools/reForReInteraction/{{eventId}}">
            <span class="input-group-addon" ngclipboard data-clipboard-target="#foo" id="basic-addon2">Copy</span>
          </div>
          <br>
          <div class="row">
          <div class="col-md-12">
           <div class="col-md-6 col-md-offset-2 ">
          <button class="btn btn-pink btn-block" ng-click="sendMail(eventId)">Send Email</button>
        </div>
          <div class="col-md-3" style="height: 34px; padding-top: 8px;">
        <div class="fb-send" data-href="{{messengerLink}}"></div>
        </div>
        </div>
      </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
      </div>
    </div>
  </div>