<div style="text-align:center; margin-top:-80px;" ng-init="loadSubmissions()">
<div>
  <h2 style="display:inline;text-align:center">Admin</h2>
</div>
</br>
<ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
</br>
<div>
  <h3 style="text-align:center">Submissions</h3>
  <div style="width:80%; text-align:center; margin: 10px auto;">
    <div ng-repeat="sub in showingElements"  ng-if="sub.invoiceIDS.length == 0" style="padding:10px 150px; margin:10px 10px; background-color: gray; height:350px;">
      <h4>Name: {{sub.name}} ----- Email: {{sub.email}}</h4>
      <a href="{{sub.trackURL}}" target="_blank">{{sub.trackURL}}</a><br>
      <div id="{{sub.trackID}}player" style="display:inline-block; width:60%; background-color:gray; height:150px;"></div>
      <div style="display:inline-block; width: 39%; height:150px; vertical-align: top;">
        <button ng-click="youtube(sub)" style="width:45%; height: 45px; margin-top: 7px; background-color:blue ; font-size:2em">To Zach</button>
        <button ng-click="sendMore(sub)" style="width:45%; height: 45px; margin-top: 7px; background-color:orange ; font-size:2em">More</button>
        <button ng-click="ignore(sub)" style="width:30%; height: 45px; margin-top: 7px; background-color:yellow; font-size:2em">Ignore</button>
        <button ng-click="decline(sub)" style="width:30%; height: 45px; margin-top: 7px; background-color:red ; font-size:2em">Decline</button>
        <button ng-click="save(sub)" style="width:30%; height: 45px; margin-top: 7px; background-color:#67f967 ; font-size:2em">Save</button>
      </div>
      <div style="display:flex; flex-direction:row; flex-wrap: wrap; justify-content:space-around; width:100%; height: 20px;">
        <div ng-repeat="chan in channels" style="margin:5px 5px; padding:5px 5px; background-color: #D3D3D3; height:30px;" >
          <span>{{chan.soundcloud.username}}</span>
          <input type="checkbox" ng-model="sub[chan.soundcloud.username]" ng-change="changeBox(sub, chan)"/>
        </div>
      </div>
    </div>
    <button ng-click="loadMore()" style="width:95%; height: 45px; margin: 0 0; background-color:#67f967 ; font-size:2em">Load More</button>
  </div>
</div>
</div>
<ng-include src="'js/home/views/loader.html'"></ng-include>