
<ng-include src="'js/home/views/navigation.html'"></ng-include>

<!-- Content Start  -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-area bg-white">
        <div class="row">
          <div class="col-md-12">
              <h1 class="text-center bold">Premiere Submission</h1>
              </br>
              <form role="form" ng-submit="savePremier()">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="file" accept="All" fileread="premierObj.file" message="message" required/>
                  </div>
                </div>
                </br>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <select class="form-control" ng-options="item for item in genreArray" ng-model="premierObj.genre" ng-init="premierObj.genre = null" required>
                      <option value="" ng-disabled="!!premierObj.genre">--Select Genre--</option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="email" placeholder="Email" ng-model="premierObj.email" required/>
                  </div>
                </div>
                </br>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="text" placeholder="Name"ng-model="premierObj.name" />
                  </div>
                </div>
                </br>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <textarea class="form-control" placeholder="Comment" ng-model="premierObj.comment"></textarea>
                  </div>
                </div>
                </br>
                  <div class="text-center">
                    <p ng-show="message.visible" class="text-center">{{message.val}}</p>
                    <br/>
                    <button class="btn btn-default btn-lg btn-enter">Enter</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>  
  </div>
</div>        
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>