<div class="page-header navbar-fixed-top"><!--page-header start-->
  <div class="col-md-4 col-sm-6 col-xs-4">
    <div id="logo">
      <a href="#" ui-sref="services"><img class="img-responsive" src="assets/images/logo.png"></a>
    </div><!--logo end-->
  </div>
  <div class="col-md-8 col-sm-6 col-xs-8">
    <div class="inner-head">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><img class="img-responsive" ng-click="openHelpModal()" src="assets/images/question_icon.png"></a>
        </li>
        <li><a href="#" ui-sref="services"><img class="img-responsive" src="assets/images/home.png"></a>
        </li> 
         <li class="logout" id="logout"><a href="javascript:void(0)" ng-click="logout()">Logout</a> 
        </li>      
      </ul>     
    </div>
  </div>
</div><!--page-header End-->
