  <style>
  .grey {
   background-color:#DCDCDC;
   color:#000000 !important;
}
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  </style>
  <ng-include src="'js/artistTools/ArtistTools/header-navigation.html'"></ng-include>
  <!-- Content Start  -->
  <div id="wrapper">
    <ng-include src="'js/artistTools/ArtistTools/navigation.html'"></ng-include>
    <div class="container-fluid height-100pr">
      <div class="row">
        <div class="col-md-12 " ng-init="getCurrentDate();getCurrentdateEvents();">
          <div class="page-content right-side">
            <!--page-contant Start-->
            <div class="scheduler-tabs">
              <!-- Nav tabs :Start-->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#myschedule" aria-controls="myschedule" role="tab" data-toggle="tab">
                  <img src="assets/images/myschedule.png" />MY SCHEDULE</a>
                </li>
                <li role="presentation"><a href="#organizeschedule" aria-controls="organizeschedule" role="tab" data-toggle="tab"> <img src="assets/images/organizeschedule.png"/> ORGANIZE SCHEDULE</a></li>
                <li role="presentation"><a href="#managereposts" aria-controls="managereposts" role="tab" data-toggle="tab"> <img src="assets/images/managereposts.png"/> MANAGE REPOSTS</a></li>
              </ul>
              <!-- Nav tabs :End-->
              <!-- Tab panes :: Start-->
              <div class="tab-content">
                <!-- MY SCHEDULE : Start-->
                <div role="tabpanel" class="tab-pane fade in active" id="myschedule">
                  <div class="container-90">
                 <!--    <div class="col-md-2 col-xs-6 col-md-offset-1">
                      <select class="form-control" style="width:150px; margin:0 auto;" ng-model=" linkedUsers"
                        ng-show="userlinkedAccounts.length > 0" ng-change="linkedUsersChange(linkedUsers)">
                        <option value="">{{user.soundcloud.username}}</option>
                        <option ng-repeat="u in userlinkedAccounts" ng-if="u._id != user._id" value="{{u.soundcloud.token}}">{{u.soundcloud.username}}</option>
                      </select>
                    </div> -->
                      <div class="col-md-3 col-xs-6">
                      <div class="btn-group" role="group" aria-label="..." ng-show="itemview == 'list'">
                        <a class="btn btn-default" href="javascript:void(0)" ng-click="getPreviousEvents()"><img src="assets/images/dropup-arrow.png" /></a>
                        <a class="btn btn-default" href="javascript:void(0)" ng-click="getNextEvents()"><img src="assets/images/dropdown-arrow.png" /></a>
                      </div>
                    </div>
                   
                <!--<div class="col-md-3 col-xs-12">
                    <div class="schedule-date-change">
                      <div class="change-date-btn" role="group" aria-label="...">
                        <a href="javascript:void(0)"><img src="assets/images/left-arrow.png" ng-click="getPreviousDate()"/></a>
                        <span class="btn-date">{{month}} {{year}}</span>
                        <a href="javascript:void(0)"><img src="assets/images/right-arrow.png" ng-click="getNextDate()"/></a>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-5 col-xs-12 pull-right">
                    <form >
                      <div class="schedule-newsong">
                        <button type="button" class="form-control">SCHEDULE NEW SONG</button>  
                      </div>
                    </form>
                  </div>
                   <div class="col-md-4 col-xs-6 pull-right text-right">
                      <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default" ng-class="{active : itemview == 'calender'}" href="javascript:void(0)" ng-click="setView('calender')"><img src="assets/images/box-view.png" /></a>
                        <a class="btn btn-default" ng-class="{active : itemview == 'list'}" href="javascript:void(0)" ng-click="setView('list')"><img src="assets/images/list-view.png" /></a>
                      </div>
                    </div>
                </div>
                  <div class="">
                    <h3 style="text-align:center;">{{user.displayName}}</h3>
                    <div id="scheduler-container" ng-show="itemview == 'calender'">
                      <div style="width:100%; height:35px; display:flex; flex-direction:row;margin-bottom: 10px; ">
                        <button class="btn btn-default btn-scheduler" ng-click="decrDay()"><img src="/assets/images/left-arrow.png"/></button>
                        <div class="bold cell-date" ng-repeat="t in [0,1,2,3,4,5,6]">{{dayOfWeekAsString(calendar[t+dayIncr].day).substring(0,3)}} {{calendar[t+dayIncr].day.getMonth()+1}}/{{calendar[t+dayIncr].day.getDate()}}
                        </div>
                        <button class="btn btn-default btn-scheduler" ng-click="incrDay()" ><img id="scheduler-btn-back" src="/assets/images/right-arrow.png"/></button>
                      </div>
                      <div style="width:100%; display:flex; flex-direction:row;">
                        <div class="column-time">
                          <div ng-repeat="i in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16', '17', '18', '19', '20', '21', '22', '23']" class="cell-time bold">{{i}}</div>
                        </div>   
                        <div ng-repeat="l in [0,1,2,3,4,5,6]" class="column-day">
                          <div id="calslot{{l}}{{p}}" ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-style="getStyle(calendar[l+dayIncr].events[p], l, p)" class="row-scheduler" ng-click="clickedSlot(calendar[l+dayIncr].day, p)" style="position:relative;">
                            <span>{{calendar[l+dayIncr].events[p].title}}</span>
                            <img ng-show="unrepostSymbol(calendar[l+dayIncr].events[p])" class='unrepost-symbol-scheduler' src="assets/images/unrepost_symbol.png"></img>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="scheduler-container" ng-show="itemview == 'list'">
                      <table class="table">
                        <thead>
                          <tr>
                            <th >Track Name</th>
                            <th >Account</th>
                            <th >date</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="item in listevents" ng-class='{grey : item.day < currentDate}'>
                            <td class="text-left">{{item.title}}</td>
                            <td class="text-left">{{user.soundcloud.username}}</td>
                            <td class="text-left">{{item.day | date:"MM/dd/yyyy hh:mma"}}</td>
                            <td><button class="btn btn-default" ng-style="getStyle(item)">{{item.type}}</button></td>
                            <td class="text-left">
                              <a href="javascript:void(0)" style="color:#FF7676" ng-if="item.trackID != ''">View</a>
                              <a href="javascript:void(0)" style="color:#FF7676" ng-if="item.trackID == ''">Schedule</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- MY SCHEDULE : End-->
                <!-- ORGANIZE SCHEDULE :Start -->
                <div role="tabpanel" class="tab-pane fade" id="organizeschedule">
                  <div class="">
                    <h3 style="text-align:center;">{{user.displayName}}</h3>
                    <div id="scheduler-container" >
                      <div style="width:100%; height:35px; display:flex; flex-direction:row;margin-bottom: 10px; ">                 
                        <div class="bold cell-date" ng-repeat="t in ['Sunday','Monday','Tuesday','Wednesday','Thusday','Friday','Saturday']">{{t}}
                        </div>                   
                      </div>
                      <div style="width:100%; display:flex; flex-direction:row;">
                        <div class="column-time">
                          <div ng-repeat="i in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16', '17', '18', '19', '20', '21', '22', '23']" class="cell-time bold">{{i}}</div>
                        </div>   
                        <div ng-repeat="l in [0,1,2,3,4,5,6]" class="column-day">                        
                          <div id="slot{{l}}{{p}}" ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-style="setSlotStyle(l,p)" class="row-scheduler" ng-click="clickedSlotsave(l, p)" style="position:relative;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ORGANIZE SCHEDULE :End -->
                <!-- MANAGE REPOSTS : Start -->
                <div role="tabpanel" class="tab-pane fade" id="managereposts">...</div>
                <!-- MANAGE REPOSTS : End -->                
              </div>
              <!-- Tab panes :: End-->
            </div>
            <!-- overlay -->
            <div class="overlay" ng-show="showOverlay" ng-click="backEvent()">
              <div class="label-scheduler label-smaller slot-box" ng-click="$event.stopPropagation();">
                <span style="font-size:1.25em">{{makeEvent.day.toLocaleDateString()}}     {{(makeEvent.day.getHours()%12==0?12:makeEvent.day.getHours()%12)+(makeEvent.day.getHours()<=11?"AM":"PM")}}</span><br><br>
                <div ng-show="!(makeEvent.type=='traded'||makeEvent.type=='paid')">
                  <input type="checkbox" ng-model="makeEvent.type" ng-true-value="'queue'" ng-false-value="'track'" ng-change="changeQueueSlot()"/><span> Autofill Slot</span><br>
                  <input type="checkbox" ng-model="makeEvent.unrepost" ng-change="changeUnrepost()"/><span> Unrepost after 24h</span><br>
                  <div ng-hide="(makeEvent.type == 'queue')">
                    <input type="text" class="form-control form-scheduler" style="width:400px; max-width:90%; text-align: center" ng-model="makeEventURL" ng-change="changeURL()" placeholder="Soundcloud Track Url" />
                  </div>
                  <div id='scPlayer' ng-show="makeEvent.trackID"></div>
                  <br>
                  <div ng-show="userlinkedAccounts.length > 0 && newEvent && makeEvent.type != 'queue'" style="flex-flow: row wrap;justify-content: space-around; margin: 0px auto; text-align:center; font-size:11px;">
                    <span>Schedule on other channels:</span><br>
                    <div ng-if="u._id != user._id" ng-repeat="u in userlinkedAccounts" class="graybox">
                      <input type="checkbox" ng-model="otherChannels[u.soundcloud.id]" ng-change="updateReach()"/><span> {{u.soundcloud.username}}</span>  
                    </div>
                    <br>
                    <span>Time between reposts:</span>
                    <select ng-model="timeGap">
                      <option ng-repeat="n in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{n}}">{{n}}</option>
                    </select>
                    hours
                    <br>
                    <span>Total Reach: {{repostReach|number:0}} followers</span>
                    <br>
                    <br> 
                  </div>
                  <br>
                  <div>
                    <button class="btn btn-default btn-small btn-overlay" ng-click="backEvent()">Back</button>
                    <button ng-show="!(makeEvent.type=='traded'||makeEvent.type=='paid')" class="btn btn-default btn-small btn-overlay" ng-click="deleteEvent()" style="margin:0 30px 0 30px;">Delete</button>
                    <button ng-show="!(makeEvent.type=='traded'||makeEvent.type=='paid')" class="btn btn-default btn-small btn-overlay" ng-click="saveEvent()">Save</button>
                    <br><br>
                    <button ng-click="emailSlot()" style="border:none; background-color:rgba(0,0,0,0);"><img src='assets/images/email_icon.png' style="height:30px; width:50px;"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,1); z-index: 1000;" ng-show="hideall">
        </div>
      </div>
      <!--overlay-->
      <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.85); text-align:center;" ng-show="showEmailModal">
        <div class="modal fade" id="emailModal" data-backdrop="static" role="dialog">
          <div class="modal-dialog modal-vertical-centered">    
            <!-- Modal content-->
            <div class="modal-content">
              <div style="text-align:center; padding:10px;">        
                <div style="text-align:center;padding-bottom:10px;">
                  <p>Please enter your email. To use the repost scheduling tools, we need your email to alert you when your soundcloud access token expires.</p>
                  <form ng-submit="updateEmail(modal.email)">
                   <input class="form-control form-scheduler" placeholder="Enter email address" style="text-align:center; width:300px; max-width:90%;" type="email" ng-model="modal.email" />
                   <button class="btn btn-default btn-small" type="submit" id="closeModal">Add</button>
                  </form>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
      <ng-include src="'js/home/views/loader.html'"></ng-include>
    </div>
  </div>
</div>
